/* =====================================================================================================
 Сброс стилей браузера по умолчанию:
===================================================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

input {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  outline: none;
}

ul {
  list-style-position: inside;
}

/* =====================================================================================================
 Основные стили:
===================================================================================================== */

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: rgb(0,0,0);
  background-color: rgb(247,249,249);
}

.container {
  margin: 0 5rem;
}

/* =====================================================================================================
 Общие стили:
===================================================================================================== */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.burger-btn {
  position: relative;
  font-family: 'FontAwesome';
  font-size: 2em;
  cursor: pointer;
}

.burger-btn::before {
  content: '\f0c9';
}

.search-btn {
  background: url(../img/content/search.png) no-repeat center;
}

.clear-search-btn {
  background: url(../img/content/search_clear.png) no-repeat center;
}

.search-btn,
.clear-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-size: 1.2em;
  cursor: pointer;
  z-index: 2;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.close-btn::before {
  content: '\f00d';
  font-family: 'FontAwesome';
  cursor: pointer;
}

.left-btn {
  left: 0;
  background: url(../img//slider/slider_nav_left.png) no-repeat center;
}

.right-btn {
  right: 0;
  background: url(../img/slider/slider_nav_right.png) no-repeat center;
}

.left-btn, .right-btn {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.dealer-button {
  margin-bottom: 1em;
  padding: 0.45em 1.4em;
  font-size: 1.15em;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  color: rgb(255, 255, 255);
  background-color: rgb(241,89,42);
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}

.map-btn {
  background-color: rgb(0,0,0);
  margin-right: 1em;
}

.visible-xs {
  display: none;
}

.red {
  color: rgb(255,0,0);
}

.grey {
  color: rgb(142,135,135);
}

.fixed {
  position: fixed;
}

.displayNone {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

/* =====================================================================================================
 Общие стили для карусели:
===================================================================================================== */

.carousel {
  position: relative;
  cursor: pointer;
}

.carousel-gallery-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-gallery {
  position: relative;
  width: 100%;
}

.carousel-gallery .carousel-item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-gallery :first-child {
  position: relative;
}

.carousel-nav {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-nav .carousel-item {
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  opacity: 0.6;
}

.carousel-nav .carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

/* =====================================================================================================
 Стили для всплывающих подсказок:
===================================================================================================== */

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  display: none;
  position: absolute;
  left: 50%;
  font-size: 1.2rem;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  text-transform: none;
  transform: translate(-50%, -.5em);
  opacity: 0;
}

[tooltip]::before {
  content: '';
  top: 0;
  border: 5px solid transparent;
  border-bottom-width: 0;
  border-top-color: #333;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  min-width: 3em;
  max-width: 21em;
  top: -23px;
  padding: 0.5em 0.7em;
  color: #fff;
  background: #333;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;
}

@keyframes tooltips {
  to {
    opacity: .9;
  }
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
  animation: tooltips 300ms ease-out forwards;
}

/* =====================================================================================================
 Стили для основного содержимого:
===================================================================================================== */

#content {
  min-height: 60vh;
}

/* Стили для навигации по контенту: */

.main {
  background-color: rgb(247,249,249);
}

.main-header {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 1em;
}

.main-nav a,
.main-nav span {
  color: rgb(91,91,93);
  text-decoration: underline;
  cursor: pointer;
}

.main-nav .nav-item {
  position: relative;
  margin-left: 23px;
}

.main-nav .nav-item::before {
  position: absolute;
  content: url(../img/content/ico_nav.png);
  left: -16px;
  width: 9px;
  height: 9px;
}

.main-nav .nav-item.cur-page {
  color: rgb(241,90,41);
  text-decoration: none;
  cursor: default;
}

#main-nav-template {
  display: none;
}

#search-info {
  position: relative;
  padding-right: 30px;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.5em;
  text-transform: uppercase;
  visibility: hidden;
}

#search-info .clear-search-btn {
  background-size: auto;
}

.sortbox {
  align-items: center;
  flex-wrap: wrap;
}

.view {
  align-items: center;
  flex-shrink: 0;
  margin-right: 1em;
}

.view-title {
  color: rgb(91,91,93);
}

.view .tooltip {
  margin-left: 1em;
}

.view-list, .view-blocks {
  position: relative;
  width: 1em;
  height:  1.5em;
  font-family: 'FontAwesome';
  font-size: 1.3em;
  cursor: pointer;
}

.view-list.activ, .view-blocks.activ {
  color: rgb(255,102,50);
  cursor: default;
}

.view-list::before {
  content: '\f0c9';
}

.view-blocks::before {
  content: '\f00a';
}

#sort {
  position: relative;
  padding: 0.15em 1.5em 0.2em 0.3em;
  font-size: 1em;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: 1px solid rgb(204,204,204);
  border-radius: 4px;
  outline: none;
  background-image: url(../img/content/ico_drop_down.png);
  background-repeat: no-repeat;
  background-position: right;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Стили для фильтров: */

.filters-container {
  display: none;
  width: 16em;
  margin-right: 1rem;
  cursor: pointer;
}

.filters {
  /* position: fixed; */
  position: static;
  width: 16em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  text-overflow: ellipsis;
}

.default-btn {
  margin-bottom: 2rem;
  padding: 0.3em;
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.15em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgb(51,51,51);
  border-radius: 2px;
}

.filter-title {
  position: relative;
  padding: 0.5em 2em 0.3em 0;
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.15em;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(139,140,140);
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-title::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  top: 45%;
  right: 0;
  background: url(../img/content/filter_opener.png);
  background-position-x: -9px;
  background-repeat: no-repeat;
}

.filter.open .filter-title::after {
  background-position-x: 0;
}

.filter-items {
  display: none;
  font-size: 0.85em;
  color: rgb(88, 88, 88);
}

.filter.open .filter-items {
  display: block;
}

.filter-items .filter-item.item:first-child .filter-title-container {
  padding-top: 0.5em;
}

.filter-title-container {
  position: relative;
  justify-content: flex-start;
  padding-bottom: 0.5em;
}

.filter-item.disabled{
  color: rgb(183,183,183);
}

.filter-item-title {
  position: relative;
  flex-shrink: 0;
  padding-left: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-item-title::before {
  content: '\f096';
  font-family: 'FontAwesome';
  position: absolute;
  top: auto;
  left: 0;
}

.filter-item.checked > .filter-item-title {
  color: rgb(51,51,51);
  background-color: rgb(247,247,249);
}

.filter-item.checked .filter-item-title::before {
  content: '\f046';
}

.filter-item .close-btn {
  display: none;
}

.filter-subitems {
  display: none;
}

.filter-item.open .filter-subitems {
  display: block;
}

.filter-item.subitem {
  padding-left: 1em;
}

.filter-item.subitem {
  position: relative;
  padding-bottom: 0.5em;
  padding-right: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-item.subitem.checked {
  color: rgb(88, 88, 88);
  font-weight: 800;
  background-color: rgb(247,247,249);
}

.filter-item.subitem.checked::before {
  content: '\f00d';
  font-family: 'FontAwesome';
  position: absolute;
  top: auto;
  right: 0;
}

#filter-color .filter-items .filter-item.item:first-child .filter-title-container {
  padding-top: 0;
}

#filter-color .filter-title-container {
  padding-bottom: 0;
}

#filter-color .filter-items {
  padding: 0 1.5em;
}

#filter-color.open .filter-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

#filter-color .filter-item-title {
  width: 25px;
  height: 25px;
  margin: 4px;
  font-size: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

#filter-color .filter-item-title:hover {
  transform: scale(1.1, 1.1);
}

#filter-color .filter-item.disabled .filter-item-title:hover {
  transform: none;
}

#filter-color .filter-item.checked .filter-item-title {
  background-position-x: -25px;
}

#filter-color .filter-item-title::before {
  content: '';
}

#filter-color .filter-item.disabled .filter-item-title {
  background-position-x: -50px;
}

#filter-color .filter-item[data-value="white"] .filter-item-title {
  background-image: url(../img/content/white.png);
}

#filter-color .filter-item[data-value="black"] .filter-item-title {
  background-image: url(../img/content/black.png);
}

#filter-color .filter-item[data-value="grey"] .filter-item-title {
  background-image: url(../img/content/gray.png);
}

#filter-color .filter-item[data-value="brown"] .filter-item-title {
  background-image: url(../img/content/brown.png);
}

#filter-color .filter-item[data-value="blue"] .filter-item-title {
  background-image: url(../img/content/blue.png);
}

#filter-color .filter-item[data-value="cyan"] .filter-item-title {
  background-image: url(../img/content/lightblue.png);
}

#filter-color .filter-item[data-value="turquoise"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="bordo"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="red"] .filter-item-title {
  background-image: url(../img/content/red.png);
}

#filter-color .filter-item[data-value="pink"] .filter-item-title {
  background-image: url(../img/content/pink.png);
}

#filter-color .filter-item[data-value="green"] .filter-item-title {
  background-image: url(../img/content/green.png);
}

#filter-color .filter-item[data-value="yellow"] .filter-item-title {
  background-image: url(../img/content/yellow.png);
}

#filter-color .filter-item[data-value="orange"] .filter-item-title {
  background-image: url(../img/content/orange.png);
}

#filter-color .filter-item[data-value="fiol"] .filter-item-title {
  background-image: url(../img/content/purple.png);
}

#filter-color .filter-item[data-value="fuxy"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="camo"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="haki"] .filter-item-title {
  background-image: url(../img/content/khaki.png);
}

#filter-color .filter-item[data-value="multicolor"] .filter-item-title {
  background-image: url(../img/content/colorful.png);
}

#filter-color .filter-item[data-value="transparent"] .filter-item-title {
  background-image: url(../img/content/transparent.png);
}

#filter-color .filter-item[data-value="black/pink"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="black/grey"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="metallic"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="graphite"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-cat .filter-title-container {
  padding-right: 17px;
}

#filter-cat .filter-item-title {
  padding-left: 0;
}

#filter-cat .filter-item.checked .filter-title-container > .filter-item-title,
#filter-cat .filter-item.checked.subitem > .filter-item-title {
  color: rgb(88, 88, 88);
  font-weight: 800;
}

#filter-cat .filter-item-title::before {
  content: '';
}

#filter-cat .open-btn {
  position: relative;
  width: 100%;
  height: 1.5em;
  z-index: 2;
}

#filter-cat .open-btn::before {
  content: '\f105';
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 0.5em;
  transition: 100ms;
}

#filter-cat .filter-item.open .open-btn::before {
  transform: rotate(90deg);
  transition: 300ms;
}

#filter-cat .filter-item.checked .close-btn {
  display: block;
  top: auto;
  right: 0;
}

#filter-cat .close-btn::before {
  position: absolute;
  right: 0;
}

/* Стили для галереи: */

#gallery {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#gallery-notice {
  display: none;
  width: 100%;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.15em;
}

/* Общие стили для карточек: */

.ptype3 {
  text-decoration: line-through;
}

.card-title {
  font-weight: 500;
}

.card-img {
  width: 100%;
}

.promo-title {
  display: inline-block;
  padding: 0.35em 0.6em;
  font-size: 0.8em;
  color: rgb(255,255,255);
}

.card-price {
  justify-content: flex-start;
  align-items: baseline;
}

.card-price .card-price-title {
  padding-right: 1em;
}

.opt {
  flex-wrap: wrap;
  align-items: center;
}

.new-price {
  padding-left: 0.5em;
}

.card-size .tooltip {
  justify-content: flex-start;
  max-width: 5em;
}

.card-qty {
  display: inline-block;
  position: relative;
  height: 1em;
  padding-left: 20px;
  font-size: 0.8em;
  color: rgb(0,176,104);
}

.card-qty::before {
  position: absolute;
  top: 0;
  left: 2px;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/content/ico_stock_arrive_new.png);
  background-size: cover;
}

.grey-gty::before {
  background-position-x: -15px;
}

.card-options {
  width: 100%;
}

.card-option {
  justify-content: flex-start;
}

.card-option:not(:last-child){
  border-bottom: 1px solid rgb(232,232,232);
}

.card-option div {
  width: 100%;
}

.option-title,
.option-info {
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-title {
  max-width: 20em;
}

.card-price-info {
  font-size: 0.85em;
  font-style: italic;
}

.card-notice {
  font-size: 0.85em;
  padding-bottom: 1em;
}

.card-sizes {
  flex-wrap: wrap;
  justify-content: start;
}

.card-size {
  margin: 0 1.5em 0.7em 0;
}

.size-articul {
  font-size: 0.8em;
}

.size-choice {
  align-items: stretch;
}

.size-name {
  width: 6.5em;
  padding: 0.37em 0.5em;
  background-color: rgb(249,249,249);
  border: 1px solid rgb(161,151,147);
  border-radius: 2px 0 0px 2px;
  text-align: center;
}

.in-cart .size-name {
  color: rgb(255,255,255);
  background-color: rgb(31,34,41);
  border-color: rgb(0,0,0);
}

.size-qty {
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(185,183,190);
  border: 1px solid rgb(179,186,196);
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.in-cart .size-qty {
  color: rgb(0,0,0);
}

.btn-minus, .btn-plus {
  width: 1.2em;
  text-align: center;
}

.btn-minus {
  border-right: 1px solid rgb(179,186,196);
  cursor: pointer;
}

.btn-plus {
  border-left: 1px solid rgb(179,186,196);
  cursor: pointer;
}

.choice-gty {
  width: 2em;
  font-size: 0.85em;
  font-weight: 700;
  color: rgb(185,183,190);
  text-align: center;
}

.in-cart .choice-gty {
  color: rgb(0,0,0);
}

.card-select-info span {
  font-weight: 500;
}

.card-description {
  font-size: 0.85em;
}

.description-title {
  font-weight: 500;
  padding-bottom: 0.5em;
}

.card-manuf-info {
  width: 100%;
}

.manuf-table {
  font-size: 0.85em;
  border-collapse: collapse;
}

.manuf-table th {
  padding: 0.1em 0.3em;
  font-weight: 400;
  border: 1px solid rgb(232,232,232);
}

.manuf-table td {
  padding: 0.1em 0.3em;
  border: 1px solid rgb(232,232,232);
}

.manuf-table .manuf-oem {
  min-width: 8em;
}

.manuf-table .manuf-model {
  min-width: 5em;
}

/* Стили для малой карточки: */

.min-card {
  width: 13em;
  margin: 0 -1px -1px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232,232,232);
  cursor: pointer;
}

.min-card:hover {
  border: 1px solid rgb(188,188,188);
  z-index: 1;
}

.min-card .card-img-wrap {
  display: flex;
  align-items: center;
  height: 178px;
  margin: 0 auto;
  overflow: hidden;
}

.min-card .card-img {
  max-width: 178px;
}

.min-card .card-promo {
  height: 1.7em;
  margin-bottom: 0.5em;
  padding: 0 0.7em;
  overflow: hidden;
}

.min-card .card-title {
  height: 4.5em;
  padding: 0 0.7em;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-card .card-price-container {
  justify-content: space-between;
  padding: 0 0.7em 0.7em 0.7em;
  align-items: center;
  width: 100%;
}

/* Стили для большой карточки: */

.big-card {
  position: relative;
  width: 100%;
  height: 14em;
  margin: 0 0 -1px 0;
  padding: 0.7em;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204,204,204);
  overflow: hidden;
}

.big-card.open {
  height: 100%;
  padding-bottom: 1.5em;
}

.big-card .card-head {
  max-width: 45em;
  min-width: 37em;
}

.big-card .card-title {
  font-size: 1.15em;
  line-height: 1.2;
}

.big-card .card-info-title {
  flex-wrap: wrap;
  align-items: center;
}

.big-card .card-promo {
  margin-right: 2em;
}

.big-card .promo-title {
  margin: 0.5em 0;
}

.big-card .opt .card-price-title {
  font-size: 1.15em;
}

.big-card .old-price,
.big-card .new-price {
  font-size: 1.5em;
}

.big-card .big-card-body {
  justify-content: flex-start;
  width: 100%;
}

.big-card .card-container-left {
  justify-content: flex-start;
  padding-right: 1em;
  margin-bottom: 1em;
}

body.ekipirovka .big-card .card-container-left {
  width: 100%;
  max-width: 45em;
}

body.zip .big-card .card-container-left {
  width: 65%;
}

.big-card .carousel {
  width: 150px;
  min-width: 150px;
  margin-left: 1.5em;
  margin-right: 2.5em;
}

.big-card .carousel .left-btn,
.big-card .carousel .right-btn {
  width: 1.5em;
  background-size: 0.7em;
  opacity: 0.5;
}

.big-card .carousel .left-btn:hover,
.big-card .carousel .right-btn:hover {
  opacity: 1;
}

.big-card .carousel .left-btn {
  left: -1.5em;
}

.big-card .carousel .right-btn {
  right: -1.5em;
}

.big-card .carousel-gallery img {
  width: 150px;
  height: 150px;
}

.big-card .card-options-container {
  width: 100%;
  font-size: 0.85em;
  overflow: hidden;
}

body.zip .big-card .card-options {
  max-width: 50em;
  margin-bottom: 1em;
}

.big-card .retail {
  justify-content: flex-start;
  border-bottom: 1px solid rgb(232,232,232);
}

body.zip .big-card .retail {
  max-width: 50em;
}

.big-card .retail div {
  width: 50%;
}

.big-card .retail .card-price-title {
  max-width: 20em;
}

body.ekipirovka .big-card .card-container-right {
  width: 100%;
}

body.zip .big-card .card-container-right {
  width: 35%;
}

.big-card .card-select-info {
  text-align: right;
}

.big-card .card-select-info span {
  font-size: 1.15em;
}

.big-card .size-choice {
  font-size: 0.85em;
}

.big-card .card-price-info {
  margin-bottom: 1em;
}

.big-card .card-fade {
  position: absolute;
  height: 3em;
  width: 100%;
  width: calc(100% - 210px);
  width: -moz-calc(100% - 210px);
  width: -webkit-calc(100% - 210px);
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgb(255,255,255,0), rgb(255,255,255));
  z-index: 1;
}

.big-card.open .card-fade {
  display: none;
}

.big-card .toggle-btn {
  position: absolute;
  width: 28px;
  height: 20px;
  bottom: 0;
  right: 40%;
  background: url(../img/content/list_arrow_bottom.jpg) no-repeat bottom center;
  cursor: pointer;
  z-index: 2;
}

.big-card.open .toggle-btn {
  background-image: url(../img/content/list_arrow_top.jpg);
}

/* Стили для полной карточки: */

#full-card-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(43,46,56,0.9);
  z-index: 30;
}

.full-card {
  position: relative;
  max-width: 1000px;
  max-height: 70vh;
  margin: 0 0 -1px -1px;
  padding: 2em 1.5em 1.5em 1.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(188,188,188);
  border-radius: 4px;
  box-shadow: 1px -2px 3px 0 rgba(100,100,100,0.5);
  overflow-x: hidden;
  overflow-y: scroll;
}

.full-card .close-btn {
  top: 0;
  right: 0;
  width: 1.5em;
  font-size: 1.5em;
  text-align: center;
}

.full-card .close-btn:hover {
  color: rgb(241,90,41);
}

.full-card .carousel {
  width: 40%;
  margin-right: 1em;
  margin-bottom: 1em;
}

.full-card .carousel-gallery-wrap {
  margin-bottom: 1.5em;
}

.full-card .carousel .search-btn {
  left: 0;
  height: 30px;
}

.full-card .carousel .left-btn,
.full-card .carousel .right-btn {
  width: 3em;
  background-color: rgb(255, 255, 255, 0.4);
  opacity: 0;
}

.full-card .carousel-gallery-wrap:hover .left-btn,
.full-card .carousel-gallery-wrap:hover .right-btn {
  opacity: 1;
}

.full-card .carousel-nav .carousel-item {
  width: 25%;
  max-width: 100px;
  min-width: 80px;
}

.full-card .card-info {
  justify-content: flex-start;
  width: 60%;
}

.full-card .card-head {
  padding-bottom: 1em;
}

.full-card .card-title {
  font-size: 1.75em;
  line-height: 1.2;
}

.full-card .card-articul {
  padding: 0.5em 0;
  font-size: 0.85em;
}

.full-card .old-price,
.full-card .new-price {
  font-size: 1.5em;
}

.full-card .card-options {
  padding-bottom: 1.5em;
}

.full-card .card-manuf-info {
  padding-bottom: 1.5em;
}

.full-card .card-option {
  min-width: 25em;
}

.full-card .card-selectInfo {
  font-size: 1.28em;
  padding-bottom: 0.5em;
}

.full-card .card-description {
  padding-left: 1.5em;
}

/* / Стили для изображения на весь экран: */

#full-imgbox {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3em 0;
  background-color: rgba(43, 46, 56, 0.9);
  z-index: 40;
}

.full-imgbox-content {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

#full-imgbox svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  margin: 1em;
  z-index: 1;
}

#full-imgbox svg path {
  fill: rgb(255, 255, 255);
}

#full-imgbox svg:hover path {
  fill: rgb(241,90,41);
}

#full-imgbox .carousel {
  max-width: 80vw;
  max-height: 80vh;
}

#full-imgbox .carousel-gallery img {
  max-width: 80vw;
  max-height: 80vh;
}

#full-imgbox .carousel-gallery-wrap {
  border-radius: 5px;
}

#full-imgbox .carousel .left-btn,
#full-imgbox .carousel .right-btn {
  width: 3.5em;
  background-color: rgb(255, 255, 255, 0.4);
  opacity: 0;
}

#full-imgbox .carousel:hover .left-btn,
#full-imgbox .carousel:hover .right-btn {
  opacity: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 46, 56, 0.9);
  background-image: url(../img/content/page_loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  z-index: 40;
}
