/* =====================================================================================================
 Стили для шапки и её содержимого:
===================================================================================================== */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
  z-index: 10;
}

.header-main {
  font-weight: 500;
  background-color: rgb(255,255,255);
}

.header-main .container {
  align-items: center;
}

.logo-wrap {
  width: 50%;
  margin-right: 1em;
  padding: 1rem 0;
}

.logo {
  height: 44px;
}

.logo img {
  max-height: 44px;
  max-width: 100%;
}

.profile-info {
  width: 50%;
  line-height: 1.5;
}

.profile-wrap {
  position: relative;
  width: 50%;
  height: 44px;
}

#header-cart, .account {
  position: absolute;
  top: 0;
  margin-top: -0.5rem;
  padding: 0.5em 0.5em 0 4em;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

#header-cart {
  left: 0;
  white-space: nowrap;
  z-index: 30;
}

.account {
  right: 0;
  width: 15em;
  z-index: 20;
}

#header-cart::before, .account::before {
  content: '';
  position: absolute;
  left: 0.7em;
  top: 0.7em;
  width: 2.5em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-size: 2.5em;
}

#header-cart::before {
  background-image: url(../img/header_footer/ico_cart.png);
}

#header-cart:hover::before {
  background-image: url(../img/header_footer/ico_cart_orange.png);
}

#header-cart .title {
  color: rgb(241,89,42);
}

#header-cart .amount,
#header-cart .price {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header-cart span {
  font-weight: 700;
}

#header-cart .short-amount {
  display: none;
  position: absolute;
  top: 0;
  right: -10px;
  width: 22px;
  height: 22px;
  padding: 0 2px;
  font-size: 10px;
  line-height: 23px;
  color: rgb(255,255,255);
  background-color: rgb(241,89,42);
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(100,100,100,0.5);
  visibility: hidden;
}

.account::before {
  background-image: url(../img/header_footer/ico_profile.png);
}

.account .title {
  font-weight: 700;
  color: rgb(241,89,42);
}

.account .title::after {
  content: '\f107';
  font-family: 'FontAwesome';
  padding-left: 0.7em;
}

.account:hover .title::after {
  content: '\f106';
}

.account .username {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-menu,
.account-menu {
  max-height: 0px;
  margin-left: -4em;
  margin-right: -0.5em;
  margin-top: 0.8em;
  overflow: hidden;
  -webkit-transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

.profile-wrap.choice #header-cart:hover,
.account:hover {
  box-shadow: 0 0 8px rgba(222, 222, 222, 0.7);
}

#header-cart:hover .cart-menu,
.account:hover .account-menu {
  /* display: block; */
  max-height: 300px;
}

.cart-menu :last-child,
.account-menu :last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cart-menu a,
.account-menu a {
  display: block;
  width: 100%;
  padding: 0.7em 1.4em;
}

.cart-menu a:hover, .cart-menu a:active,
.account-menu a:hover, .account-menu a:active {
  color: rgb(255, 255, 255);
  background-color: rgb(241,89,42);
}

.header-menu a {
  margin-right: -0.25rem;
  cursor: pointer;
}

.header-menu a.active,
.header-menu a:hover {
  color: rgb(255,255,255);
}

.main-menu {
  color: rgb(255,255,255);
  background-color: rgb(31,34,41);
}

.main-menu > .row {
  align-items: center;
}

.main-menu .burger-btn,
.main-menu .search-icon {
  margin-left: 1em;
}

.topmenu-item {
  padding: 1rem 2rem;
  font-family: 'TradeGothicProCyr';
  font-size: 1.8em;
  line-height: 0.8;
  text-transform: uppercase;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  transition: 200ms;
}

.topmenu-item.active,
.topmenu-item:hover {
  background-color: rgb(241,89,42);
}

.search {
  position: relative;
  padding: 0.35em 0;
  width: 50%;
  max-width: 700px;
}

.search .clear-search-btn {
  display: none;
  top: 1px;
  right: 2.5rem;
  background-size: 1em;
}

#search {
  width: 100%;
  height: 2.8rem;
  padding: 0 4em 0 0.7em;
  font-size: 1em;
  line-height: 1.2;
  border-radius: 2px;
  background-color: rgb(255,255,255);
}

.search.open {
  display: block;
}

.submenu {
  background-color: rgb(243,243,246);
}

.submenu.open {
  display: block;
}

.submenu-items {
  overflow: hidden;
}

.submenu-item {
  padding: 1rem 2rem;
  font-size: 1.15em;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  transition: 200ms;
}

.submenu-item.active,
.submenu-item:hover {
  background-color: rgb(172,177,186);
}

.submenu > .row {
  align-items: center;
}

.subsubmenu {
  display: none;
  background-color: rgb(246,246,248);
}

.header-select {
  display: none;
  background-color: rgb(241,90,41);
}

.select-filters {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
}

.select-item {
  margin-right: 3.125em;
  padding: 0.5rem 0;
}

.select-item {
  padding: 0.5rem 0;
}

.select-filters .item-model {
  margin-right: 0;
}

.item-brands {
  width: 25%;
}

.item-year {
  width: 25%;
}

.item-model {
  width: 50%;
}

.select-filters .tooltip {
  margin-left: 0.8em;
}

.select-filters .close-btn {
  position: relative;
  font-size: 1.3em;
  color: rgb(248,172,148);
}

.select-filters .close-btn.active {
  color: rgb(255,255,255);
  opacity: 0.85;
}

.select-filters .close-btn.active:hover {
  opacity: 1;
}

.select-item select {
  width: 100%;
  height: 2.8rem;
  padding: 0 0.75em;
  font-size: 1em;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(255,255,255);
  border: none;
  border-radius: 2px;
  outline: none;
}

.select-item select[disabled] {
  opacity: 0.5;
}

.select-oem {
  position: relative;
  width: 25%;
  margin-right: 0;
  padding: 0.5rem 0;
}

.select-oem .search-btn {
  left: 0;
}

#oem {
  width: 100%;
  height: 2.8rem;
  padding: 0 2em;
  font-size: 1em;
  line-height: 1.5;
  color: rgb(136,136,136);
  background-color: rgb(255,255,255);
  border-radius: 2px;
}

.oem-dropdown {
  display: none;
  position: absolute;
  top: 80%;
  width: 100%;
  padding-top: 0.5em;
  background-color: rgb(255,255,255);
  border-radius: 2px;
}

.oem-not-found {
  display: none;
  padding: 0.35em 0.75em;
  background-color: rgb(240,240,240);
}

#oem-list {
  display: none;
  max-height: 28em;
  overflow-y: scroll;
}

.oem {
  padding: 0.35em 0.75em;
}

.header-select .oem:hover{
  background-color: rgb(0,136,204);
}

/* =====================================================================================================
 Стили для футера и его содержимого:
===================================================================================================== */

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(31,34,41);
  z-index: 5;
}

.footer-links, .footer-contacts, .copyright {
  padding: 0.7em 0;
}

.footer-links {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0;
}

.footer-links a {
  margin-right: 3em;
  padding: 0.7em 0;
  text-decoration: underline;
  text-align: center;
}

.footer-links a:last-child {
  margin-right: 0;
}

.footer-links a:hover {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
  color: rgb(241,89,42);
}

.youtube::before {
  content: url(../img/header_footer/ico_youtube.png);
  display: inline-block;
  vertical-align: middle;
}

.youtube:hover {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
  transform: scale(1.1);
}

.footer-contacts {
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts > div {
  margin-right: 2em;
  padding: 0.35em 0;
  text-align: center;
}

.footer-contacts :last-child {
  margin-right: 0;
}

.decor {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  font-size: 0.85em;
  text-align: center;
  border-top: 1px solid rgb(139,140,140);
}
