/* =====================================================================================================
 Сброс стилей браузера по умолчанию:
===================================================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

/* =====================================================================================================
 Основные стили:
===================================================================================================== */

body {
  width: 100%;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
}

.container {
  margin: 0 7rem;
}

/* =====================================================================================================
 Общие стили:
===================================================================================================== */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.visible-xs {
  display: none;
}

body > div:not(.header):not(.slider):not(.footer) {
  padding-bottom: 5em;
}

.dealer-button {
  padding: 0.45em 1.4em;
  font-size: 1.75em;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  color: rgb(255, 255, 255);
  background-color: rgb(241,89,42);
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}

.map-btn {
  background-color: rgb(0,0,0);
  margin-right: 1em;
}

.title {
  margin-bottom: 0.625em;
  font-size: 4em;
  line-height: 1;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 1.25em;
  font-size: 2.5em;
  line-height: 1;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
}

.text {
  font-size: 1.125em;
  font-weight: 300;
}

.step-title {
  margin-bottom: 0.4em;
  font-size: 1.5625em;
  line-height: 1;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  text-transform: uppercase;
}

.step {
  padding: 0 1em;
}

.step-container {
  max-width: 300px;
  margin: 0 auto;
}

.step-text a {
  color: rgb(32,103,176);
  text-decoration: underline;
}

.one {
  color: rgb(241,89,42);
}

.three {
  color: rgb(244,191,0);
}

.four {
  color: rgb(116,111,111);
}

.five {
  color: rgb(244,121,38);
}

/* =====================================================================================================
 Стили для шапки и её содержимого:
===================================================================================================== */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
  z-index: 100;
}

.header-main {
  padding: 1rem 0;
  background-color: rgb(255,255,255);
}

.header-main .container {
  align-items: center;
}

.logo {
  height: 44px;
  margin-right: 1em;
}

.logo img {
  max-height: 44px;
  max-width: 100%;
}

.header-contacts {
  justify-content: flex-end;
}

.header-contacts a {
  margin-left: 3em;
  color: rgb(241,89,42);
  text-decoration: underline;
}

.header-contacts :first-child {
  margin-left: 0;
}

.header-contacts span {
  padding-left: 0.5em;
}

a.header-phone, a.header-cabinet {
  color: rgb(32,103,176);
}

.header-phone, .header-cabinet {
  position: relative;
  padding-left: 1.5em;
}

.header-phone::before, .header-cabinet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.1em;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 1em;
}

.header-phone::before {
  background-image: url(../img/header_footer/ico_skype_bw.png);
}

.header-cabinet::before {
  background-image: url(../img/header_footer/ico_profile_bw.png);
}

.header-menu a {
  margin-right: -2px;
}

.header-menu a:hover {
  color: rgb(255,255,255);
}

.main-menu {
  color: rgb(255,255,255);
  background-color: rgb(31,34,41);
}

.topmenu-item {
  padding: 1rem 2rem;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.8em;
  line-height: 0.8;
  text-transform: uppercase;
}

.topmenu-item:hover{
  background-color: rgb(241,89,42);
}

/* =====================================================================================================
 Стили для слайдера:
===================================================================================================== */

.slider {
  position: relative;
  margin-bottom: 1.5em;
}

.left-btn, .right-btn {
  position: absolute;
  top: 40%;
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
}

.left-btn:hover, .right-btn:hover {
  opacity: 0.9;
}

.left-btn {
  left: 3rem;
}

.right-btn {
  right: 3rem;
}

.left-btn::before {
  content: url(../img/slider/slider_nav_left_white.png);
}

.right-btn::before {
  content: url(../img/slider/slider_nav_right_white.png);
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 1000vw
}

.slider-item {
  position: relative;
  width: 100vw;
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-item img {
  display: none;
  height: auto;
  max-width: 100%;
}

.slider-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(131, 131, 131,0.8);
}

.slider-content .container {
  height: 100%;
  justify-content: center;
}

.slider-content .title {
  line-height: 1.3;
  text-align: left;
}

/* =====================================================================================================
 Стили для раздела "about":
===================================================================================================== */

.about .row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-item {
  width: 33.33%;
  padding: 1em;
}

.about-container {
  position: relative;
  max-width: 252px;
  margin: 0 auto;
}

.about-item img {
  max-width: 100%;
  margin: 0 auto;
}

.about-count {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  color: rgb(241,89,42);
  text-shadow: -2px 2px 0px rgb(246,162,51);
  font-size: 6.25em;
  line-height: 1;
  text-align: center;
}

.about .text {
  min-height: 3.5em;
  text-align: center;
}

/* =====================================================================================================
 Стили для раздела "geography":
===================================================================================================== */

.geography {
  background-image: url(../img/geography/bg_geography_map.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -3em 4em;
  background-origin: content-box;
}

.geography-descr {
  width: 55%;
  margin-right: 8em;
}

.geography .subtitle {
  padding-top: 0.4em;
  text-transform: uppercase;
}

.geography .text {
  text-align: justify;
}

.geography-btns {
  justify-content: flex-start;
}

.geography .dealer-button {
  margin-top: 2em;
}

.circle {
  width: 45%;
}

.circle img {
  max-width: 100%;
  margin: 0 auto;
}

/* =====================================================================================================
 Стили для раздела "brands":
===================================================================================================== */

.brands-select {
  width: 35%;
  margin-right: 4em;
}

.select-item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 4em;
  margin: 0 0 2em 2.5em;
  padding: 0 2.5em;
  background-color: rgb(238,238,238);
}

.select-count {
  position: absolute;
  font-size: 7.5em;
  line-height: 1;
  top: auto;
  left: -0.3em;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  z-index: 1;
}

.brands-names {
  flex-wrap: wrap;
  align-items: center;
  width: 65%;
}

.brand {
  width: 25%;
  padding: 1.25em 1em;
}

.brand img {
  max-width: 145px;
  margin: 0 auto;
  filter: contrast(40%) grayscale(100%);
  transition: 200ms ease;
}

.brand img:hover {
  filter: none;
  transform: scale(1.2);
}

/* =====================================================================================================
 Стили для раздела "work":
===================================================================================================== */

.work .row {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.work .step {
  width: 20%;
  margin-bottom: 5em;
}

.work .step-container {
  position: relative;
}

.work .step:not(:last-child) .step-container::before {
  position: absolute;
  content: url(../img/work/work_arrow.png);
  top: 4em;
  right: -1em;
}

.step-count {
  font-size: 7.5em;
  line-height: 1;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  z-index: 1;
}

.step-imgbox {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25em;
}

.step-imgbox img {
  max-width: 160px;
}

.work .step-title img {
  text-align: left;
}

.work .subtitle {
  text-align: center;
  margin-bottom: 0;
}

/* =====================================================================================================
 Стили для раздела "clients":
===================================================================================================== */

.clients .container {
  text-align: center;
}

.clients .row {
  flex-wrap: wrap;
  justify-content: center;
}

.clients .step {
  width: 33.33%;
  margin-bottom: 1.875em;
}

.clients .step img {
  max-width: 180px;
  margin: 0 auto 1.5em auto;
  transition: 300ms;
}

.clients .step img:hover {
  transform: scale(1.2);
}

.clients .dealer-button {
  margin-top: 2em;
}

/* =====================================================================================================
 Стили для футера и его содержимого:
===================================================================================================== */

.footer {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(31,34,41);
}

.footer-links, .footer-contacts, .copyright {
  padding: 0.7em 0;
}

.footer-links {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0;
}

.footer-links a {
  margin-right: 3em;
  padding: 0.7em 0;
  text-decoration: underline;
  text-align: center;
}

.footer-links a:last-child {
  margin-right: 0;
}

.footer-links a:hover {
  transition: 300ms;
  color: rgb(241,89,42);
}

.youtube::before {
  content: url(../img/header_footer/ico_youtube.png);
  display: inline-block;
  vertical-align: middle;
}

.youtube:hover {
  transition: 300ms;
  transform: scale(1.1);
}

.footer-contacts {
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts > div {
  margin-right: 2em;
  padding: 0.35em 0;
  text-align: center;
}

.footer-contacts:last-child {
  margin-right: 0;
}

.decor {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  font-size: 0.85em;
  text-align: center;
  border-top: 1px solid rgb(139,140,140);
}
