@media only screen and  (min-width: 1824px) {
  body {
    font-size: 1.6rem;
  }
  .container {
    max-width: 1724px;
    margin: 0 auto;
  }
  .full-card {
    top: 50%;
  }
  .full-card .card-imgbox-container {
    width: 330px;
  }
  .full-card .carousel-gallery {
    width: 330px;
  }
  .full-card .carousel-item {
    width: 110px;
  }
}

@media only screen and (max-width: 1439px) {
  .container {
    margin: 0 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  .big-card .card-head {
    max-width: 100%;
    min-width: 0;
  }
  .big-card .card-info-title {
    justify-content: flex-end;
    min-width: 33em;
  }
  .big-card .big-card-body {
    flex-wrap: wrap;
  }
  .big-card .card-container-left {
    max-width: 100%;
    padding-right: 0;
  }
  .big-card .card-options-container {
    max-width: 45em;
  }
  .big-card .card-select-info {
    text-align: left;
  }
  .full-card .card-imgbox-container {
    width: 270px;
  }
  .full-card .carousel-gallery {
    width: 270px;
  }
  .full-card .carousel-item {
    width: 90px;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    margin: 0 3rem;
  }
  .big-card {
    height: 17em;
  }
  .big-card .big-card-head {
    flex-direction: column;
  }
  .big-card .card-info-title {
    justify-content: flex-start;
  }
  .full-card {
    max-width: 90%;
  }
  .full-card .card-imgbox-container {
    width: 200px;
  }
  .full-card .carousel-gallery {
    width: 200px;
  }
  .full-card .carousel-item {
    width: 100px;
  }
  .full-card .card-option {
    min-width: 24em;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
  .hidden-xs {
		display: none;
  }
  .dealer-button {
    font-size: 1.5em;
  }
  .content.list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .content.list .filters-container {
    width: 100%;
    margin-right: 0;
  }
  .content.list .filters {
    position: static;
    width: 100%;
    height: 100% !important;
    padding-right: 0;
  }
  .filters-container {
    min-width: 13em;
  }
  .filters {
    width: 13em;
  }
  .big-card .card-info-title {
    min-width: 0;
  }
  .big-card .card-container-left {
    flex-wrap: wrap;
  }
  .big-card .card-options-container {
    width: auto;
  }
  .big-card .card-fade {
    width: 100%;
  }
  .full-card {
    padding: 0.7em;
  }
  .full-card .card-container {
    flex-direction: column;
  }
  .full-card .card-imgbox {
    width: 100%;
  }
  .full-card .carousel {
    display: block;
  }
  .full-card .card-imgbox-container {
    display: none;
  }
  .full-card .carousel-gallery {
    width: 250px;
    margin: 0 auto;
  }
  .full-card .carousel-item {
    width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  .dealer-button {
    width: 100%;
  }
  .main-header {
    flex-wrap: wrap;
  }
  .main-nav {
    width: 100%;
    padding-bottom: 1em;
  }
  .content {
    flex-direction: column;
  }
  .filters-container {
    width: 100%;
    margin-right: 0;
  }
  .filters {
    position: static;
    width: 100%;
    height: 100% !important;
    padding-right: 0;
  }
  #gallery {
    justify-content: center;
  }
  .big-card {
    height: 20em;;
  }
  .big-card .carousel {
    width: 100%;
    margin-right: 0;
  }
  .big-card .carousel-container {
    width: 150px;
    margin: 0 auto;
    padding: 0;
  }
  .big-card .card-options-container {
    min-width: 18em;
    min-width: 100%;
  }
  .full-card .carousel-gallery {
    width: 200px;
  }
  .full-card .carousel-item {
    width: 200px;
  }
  .full-card .card-option {
    min-width: 0;
  }
}
