@media only screen and  (min-width: 1824px) {
  .search {
    width: 40%;
  }
}

@media only screen and (max-width: 1439px) {
  .header-contacts a {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 1080px) {
  .header {
    font-size: 1.2rem;
  }
  .logo {
    width: 22%;
  }
  .header-contacts a {
    margin-left: 1em;
  }
  .ekipirovka .submenu-item {
    padding: 1rem 1.9rem;
  }
  .footer  {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    width: auto;
  }
  .header-cabinet {
    padding-left: 3em;
  }
  .header-cabinet::before {
    top: -0.3em;
    width: 2em;
    height: 2em;
    background-size: 2em;
  }
  .main-menu > .row {
    flex-wrap: wrap;
  }
  .burger-btn.visible-xs {
    display: block;
  }
  .search {
    width: 100%;
  }
  .ekipirovka .submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
  }
}

@media only screen and (max-width: 480px) {
  .header-cabinet {
    width: 30px;
    height: 44px;
    overflow: hidden;
  }
  .header-cabinet::before {
    top: 0.2em;
    width: 3em;
    height: 3em;
    background-size: 3em;
  }
  .submenu-items.ekipirovka {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 14em;
  }
  .ekipirovka .submenu-item {
    width: 10em;
    padding: 1rem 1rem;
  }
  .footer-links a {
    margin-right: 2em;
  }
}