@media only screen and  (min-width: 1824px) {
  body {
    font-size: 1.6rem;
  }
  .container {
    max-width: 1724px;
    margin: 0 auto;
  }
  .full-card .card-imgbox-container {
    width: 330px;
  }
  .full-card .carousel-gallery {
    width: 330px;
  }
  .full-card .carousel-item {
    width: 110px;
  }
}

@media only screen and (max-width: 1439px) {
  .container {
    margin: 0 4rem;
  }
  body.zip .big-card .big-card-body {
    flex-wrap: wrap;
  }
  body.zip .big-card .card-container-left {
    width: 100%;
  }
  body.zip .big-card .card-container-right {
    width: 100%;
  }
  body.zip .big-card .card-select-info {
    text-align: left;
  }
}

@media only screen and (max-width: 1280px) {
  .big-card .card-head {
    max-width: 100%;
    min-width: 0;
  }
  .big-card .card-info-title {
    justify-content: flex-end;
    min-width: 33em;
  }
  body.ekipirovka .big-card .big-card-body {
    flex-wrap: wrap;
  }
  body.ekipirovka .big-card .card-container-left {
    max-width: 100%;
    padding-right: 0;
  }
  body.ekipirovka .big-card .card-select-info {
    text-align: left;
  }
  .full-card .card-imgbox-container {
    width: 270px;
  }
  .full-card .carousel-gallery {
    width: 270px;
  }
  .full-card .carousel-item {
    width: 90px;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    margin: 0 3rem;
  }
  .big-card {
    height: 17em;
  }
  .big-card .big-card-head {
    flex-direction: column;
  }
  .big-card .card-info-title {
    justify-content: flex-start;
  }
  body.zip .big-card .card-container-left {
    flex-direction: column;
  }
  .big-card .card-options-container {
    max-width: 100%;
  }
  body.zip .big-card .card-fade {
    width: 100%;
  }
  .full-card {
    max-width: 90%;
  }
  .full-card .card-imgbox-container {
    width: 200px;
  }
  .full-card .carousel-gallery {
    width: 200px;
  }
  .full-card .carousel-item {
    width: 100px;
  }
  .full-card .card-option {
    min-width: 24em;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
  .container {
    margin: 0 2rem;
  }
  .hidden-xs {
		display: none;
  }
  .dealer-button {
    font-size: 1.5em;
  }
  .main-header {
    flex-direction: column;
  }
  .main-nav {
    width: 100%;
    margin-right: 0;
  }
  .sortbox {
    width: 100%;
  }
  #content.list {
    flex-direction: column;
    justify-content: flex-start;
  }
  #content.list .filters-container {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }
  #content.list .filters {
    position: static !important;
    width: 100%;
    height: 100% !important;
    padding-right: 0;
  }
  #content.list #gallery {
    width: 100% !important;
  }
  #gallery {
    font-size: 1.4rem;
  }
  .big-card .card-info-title {
    min-width: 0;
  }
  .big-card .card-container-left {
    flex-wrap: wrap;
  }
  .big-card .card-options-container {
    min-width: 25em;
  }
  body.ekipirovka .big-card .card-fade {
    width: 100%;
  }
  .big-card .toggle-btn {
    width: 100%;
    height: 3em;
    right: 0;
  }
  .full-card {
    padding: 0.7em;
  }
  .full-card .card-container {
    flex-direction: column;
  }
  .full-card .card-imgbox {
    width: 100%;
  }
  .full-card .carousel {
    display: block;
  }
  .full-card .card-imgbox-container {
    display: none;
  }
  .full-card .carousel-gallery {
    width: 250px;
    margin: 0 auto;
  }
  .full-card .carousel-item {
    width: 250px;
  }
  .full-card .card-info {
    width: 100%;
  }
  #full-img {
    max-width: 90%;
    max-height: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .hidden-xxs {
		display: none;
  }
  .container {
    margin: 0 1.5rem;
  }
  .dealer-button {
    width: 100%;
  }
  #content {
    flex-direction: column;
  }
  .filters-container {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .filters {
    position: static;
    width: 100%;
    height: 100% !important;
    padding-right: 0;
  }
  #gallery {
    width: 100% !important;
  }
  .min-card {
    height: auto;
  }
  .big-card {
    height: 20em;;
  }
  .big-card .carousel {
    width: 100%;
    margin-right: 0;
  }
  .big-card .carousel-container {
    width: 150px;
    margin: 0 auto;
    padding: 0;
  }
  .big-card .card-options-container {
    min-width: 100%;
  }
  .full-card {
    top: 10%;
    max-height: 85vh;
  }
  .full-card .carousel-gallery {
    width: 200px;
  }
  .full-card .carousel-item {
    width: 200px;
  }
  .full-card .card-option {
    min-width: 0;
  }
}
