.table-wrap {
  max-height: 40vh;
}

.icons #up-btn {
  position: static;
}

.icons #up-btn,
.icons > svg,
.icons > div {
  margin-right: 1em;
  font-size: 2em;
  width: 1em;
  height: 1em;
}

.icons > div > div {
  width: 1em;
  height: 1em;
}

.btns > div {
  margin-right: 1em;
}
