@media only screen and  (min-width: 1824px) {
  .container {
    max-width: 1524px;
    margin: 0 auto;
  }
  .left-btn {
    left: 7rem;
  }
  .right-btn {
    right: 7rem;
  }
  .work .step {
    width: 20%;
  }
}

@media only screen and (max-width: 1439px) {
  .container {
    margin: 0 5rem;
  }
  .header-contacts a {
    margin-left: 2em;
  }
  .left-btn {
    left: 2rem;
  }
  .right-btn {
    right: 2rem;
  }
  .geography-descr {
    width: 60%;
    margin-right: 3em;
  }
  .circle {
    width: 40%;
  }
  .brands-select {
    width: 40%;
  }
  .brands-names {
    width: 60%;
  }
  .brand {
    width: 33.33%;
  }
  .work .step {
    width: 33.33%;
  }
  .clients .step {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1080px) {
  body {
    font-size: 1.4rem;
  }
  .container {
    margin: 0 3rem;
  }
  .subtitle {
    text-align: center;
  }
  .header  {
    font-size: 1.2rem;
  }
  .logo {
    width: 22%;
  }
  .header-contacts a {
    margin-left: 1em;
  }
  .slider-content .container {
    margin: 0 5rem;
  }
  .about-item {
    width: 50%;
  }
  .geography .container > .row {
    flex-wrap: wrap;
  }
  .geography-descr {
    width: 100%;
    margin-right: 0;
    padding-bottom: 3em;
  }
  .geography-btns {
    justify-content: center;
  }
  .circle {
    width: 100%;
  }
  .circle img {
    max-width: 480px;
  }
  .brands .container > .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .brands-select {
    width: 70%;
    margin-right: 0;
  }
  .brands-names {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .brand {
    width: 25%;
  }
  .work .step {
    width: 50%;
  }
  .clients .step {
    width: 50%;
  }
  .footer  {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .hidden-xs {
		display: none;
  }
  .title {
    font-size: 3em;
  }
  .dealer-button {
    font-size: 1.5em;
  }
  .logo {
    width: auto;
  }
  .header-cabinet {
    padding-left: 3em;
  }
  .header-cabinet::before {
    top: -0.3em;
    width: 2em;
    height: 2em;
    background-size: 2em;
  }
  .slider-item {
    height: auto;
    background-image: none !important;
  }
  .slider-item img {
    display: block;
    height: auto !important;
  }
  .slider-content .title {
    font-size: 1.5em;
  }
  .about-item {
    width: 100%;
  }
  .circle img {
    max-width: 360px;
  }
  .brands-select {
    width: 90%;
  }
  .work > .row {
    justify-content: center;
  }
  .work .step {
    width: 100%;
  }
  .work .step:not(:last-child) .step-container::before {
    content: url(../img/work/work_arrow_down.png);
    top: auto;
    bottom: -15%;
    right: 45%;
  }
  .clients .step {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .header-cabinet {
    width: 30px;
    height: 44px;
    overflow: hidden;
  }
  .header-cabinet::before {
    top: 0.2em;
    width: 3em;
    height: 3em;
    background-size: 3em;
  }
  .left-btn {
    left: 0.5rem;
  }
  .right-btn {
    right: 0.5rem;
  }
  .slider-content .container {
    margin: 0 3rem;
  }
  .slider-content .title {
    font-size: 1em;
  }
  .slider-content .dealer-button {
    width: 100%;
    font-size: 1.25em;
    text-align: center;
  }
  .geography-btns {
    flex-direction: column;
    align-items: center;
  }
  .map-btn {
    margin-right: 0;
  }
  .circle img {
    max-width: 280px;
  }
  .brands-select {
    width: 90%;
  }
  .footer-links a {
    margin-right: 2em;
  }
}
