/* =====================================================================================================
Основные стили:
===================================================================================================== */

body {
  padding-top: 103px;
}

/* =====================================================================================================
 Стили для основного содержимого:
===================================================================================================== */

#content {
  min-height: 60vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}

[data-view="product"] #content {
  background-color: #FFFFFF;
}

/* =====================================================================================================
 Стили для информации в заголовке страницы:
===================================================================================================== */

#main-header {
  display: none;
}

[data-view="product"] #main-header {
  padding: 2em 0;
}


.main-info {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-info > :last-child {
  width: 55%;
}

#search-info {
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  text-transform: uppercase;
  visibility: hidden;
}

#search-info .close.icon {
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.5em;
}

/* =====================================================================================================
 Стили для фильтров:
===================================================================================================== */

#filters-container {
  display: none;
  width: 19em;
  margin-right: 2rem;
}

#filters {
  position: static;
  width: 19em;
  padding-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filters:hover {
  overflow-y: scroll;
}

#filters::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#filters::-webkit-scrollbar-track {
  background-color: #D4D7DB;
  border-radius: 5px;
}

#filters::-webkit-scrollbar-thumb {
  background-color: rgb(52,73,94,0.5);
  border: 1px solid #D4D7DB;
  border-radius: 5px;
}

.default-btn.btn {
  position: relative;
  width: 18em;
  margin-bottom: 1em;
  padding: 0.25em 1.5em;
}

#menu-filters {
  width: 18em;
}

.filter {
  margin-bottom: 0.4em;
}

.filter-title {
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.3em 0.5em;
  font-weight: 600;
  background-color: #D4D7DB;
  cursor: pointer;
}

.filter-title .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-title .open.icon {
  width: 0.857em;
  height: 0.857em;
}

.filter-items {
  background-color: #FFFFFF;
  border: 0.5px solid rgba(52, 73, 94, 0.3);
}

.filter-item.close .filter-items {
  display: none;
}

.filter.close .filter-items {
  display: none;
}

.filter-item {
  cursor: pointer;
}

.filter-item.disabled {
  color: rgba(102, 102, 102, 0.7);
  cursor: default;
}

.filter-title-container {
  align-items: center;
  padding: 0 0.7em 0.7em 0.7em;
}

.filter-items .filter-item.item:first-child .filter-title-container {
  padding-top: 0.7em;
}

.filter-item-title {
  align-items: center;
}

/* .filter-item.checked > .filter-item-container > .filter-item-title,
.filter-item.checked > .filter-item-title {
  color: #34495E;
} */

.filter-item-title .checkbox {
  width: 0.857em;
  height: 0.857em;
}

.filter-item .drop-down.icon {
  width: 100%;
  margin-left: 0.5em;
  background-size: 0.875em;
  background-repeat: no-repeat;
  background-position: center left;
}

.item-title {
  padding-left: 0.5em;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-item.subitem {
  padding-left: 1em;
  padding-bottom: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filter-size .filter-items,
#filter-color .filter-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0.7em 0.5em;
}

#filter-size.close .filter-items,
#filter-color.close .filter-items {
  display: none;
}

#filter-size .filter-title-container,
#filter-color .filter-title-container {
  padding: 0;
}

#filter-size .checkbox,
#filter-size .drop-down.icon,
#filter-color .checkbox,
#filter-color .drop-down.icon {
  display: none;
}

#filter-size .item-title {
  width: 2.4em;
  padding: 0;
  line-height: 1.4;
  border: 0.5px solid rgba(52, 73, 94, 0.4);
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  margin: 0.2em
}

#filter-size .filter-item.checked .item-title {
  color: #FFFFFF;
  background-color: #34495E;
}

#filter-color .filter-item-title {
  width: 25px;
  height: 25px;
  margin: 4px;
  font-size: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

#filter-color .filter-item-title:hover {
  transform: scale(1.1, 1.1);
}

#filter-color .filter-item.disabled .filter-item-title:hover {
  transform: none;
}

#filter-color .filter-item.checked .filter-item-title {
  background-position-x: -25px;
}

#filter-color .filter-item.disabled .filter-item-title {
  background-position-x: -50px;
}

#filter-color .filter-item[data-value="white"] .filter-item-title {
  background-image: url(../img/color_white.png);
}

#filter-color .filter-item[data-value="black"] .filter-item-title {
  background-image: url(../img/color_black.png);
}

#filter-color .filter-item[data-value="grey"] .filter-item-title {
  background-image: url(../img/color_gray.png);
}

#filter-color .filter-item[data-value="brown"] .filter-item-title {
  background-image: url(../img/color_brown.png);
}

#filter-color .filter-item[data-value="blue"] .filter-item-title {
  background-image: url(../img/color_blue.png);
}

#filter-color .filter-item[data-value="cyan"] .filter-item-title {
  background-image: url(../img/color_lightblue.png);
}

#filter-color .filter-item[data-value="turquoise"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="bordo"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="red"] .filter-item-title {
  background-image: url(../img/color_red.png);
}

#filter-color .filter-item[data-value="pink"] .filter-item-title {
  background-image: url(../img/color_pink.png);
}

#filter-color .filter-item[data-value="green"] .filter-item-title {
  background-image: url(../img/color_green.png);
}

#filter-color .filter-item[data-value="yellow"] .filter-item-title {
  background-image: url(../img/color_yellow.png);
}

#filter-color .filter-item[data-value="orange"] .filter-item-title {
  background-image: url(../img/color_orange.png);
}

#filter-color .filter-item[data-value="fiol"] .filter-item-title {
  background-image: url(../img/color_purple.png);
}

#filter-color .filter-item[data-value="fuxy"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="camo"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="haki"] .filter-item-title {
  background-image: url(../img/color_khaki.png);
}

#filter-color .filter-item[data-value="multicolor"] .filter-item-title {
  background-image: url(../img/color_colorful.png);
}

#filter-color .filter-item[data-value="transparent"] .filter-item-title {
  background-image: url(../img/color_transparent.png);
}

#filter-color .filter-item[data-value="black/pink"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="black/grey"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="metallic"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="graphite"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

/* =====================================================================================================
 Стили для галереи:
===================================================================================================== */

/* Стили для галереи: */

#gallery-wrap {
  display: none;
}

.gallery-head {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#gallery {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

[data-view="product"] #gallery {
  display: flex;
}

#gallery-notice {
  display: none;
  width: 100%;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.15em;
}

/* =====================================================================================================
 Стили для инфорации о фильтрах:
===================================================================================================== */

.filters-info {
  width: 70%;
}



/* =====================================================================================================
 Стили для переключателя вида каталога:
===================================================================================================== */

.sortbox {
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}

.view {
  justify-content: space-between;
  align-items: center;
  font-size: 1.143em;
  flex-shrink: 0;
  margin-right: 1em;
}

.view .title {
  margin-right: 1em;
}

.view .icon {
  width: 1em;
  height: 1em;
}

.view .icon.active {
  cursor: default;
}

.view .view-list {
  margin-right: 0.5em;
}

.sortbox .activate .head {
  padding: 0.15em 1.5rem;
}

/* =====================================================================================================
 Общие стили для карточек:
===================================================================================================== */

.ptype3 {
  text-decoration: line-through;
}

.card-articul {
  font-size: 0.9em;
}

.card-img {
  width: 100%;
}

.card-action {
  font-size: 0.85em;
  line-height: 2;
  color: rgb(255,255,255);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-action.hidden {
  font-size: 0;
  margin-right: 0;
}

.action-title {
  display: inline;
  margin-bottom: 0.3em;
  padding: 0.2em 0.5em;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}

.action-date {
  display: none;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

.card-price {
  justify-content: flex-start;
  align-items: baseline;
}

.card-price .card-price-title {
  padding-right: 1em;
}

.opt {
  flex-wrap: wrap;
  align-items: baseline;
}

.new-price {
  padding-left: 0.5em;
}

.card-size .tooltip {
  max-width: 5em;
}

.available-qty {
  display: inline-block;
  position: relative;
  height: 1em;
  padding-left: 20px;
  font-size: 0.8em;
  color: rgb(0,176,104);
  cursor: help;
}

.available-qty.not-available {
  color: rgb(142,135,135);
}

.available-qty::before {
  position: absolute;
  top: 0;
  left: 2px;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/color_ico_stock_arrive_new.png);
  background-size: cover;
}

.available-qty span {
  font-weight: 600;
}

.not-available::before {
  background-position-x: -15px;
}

.card-options {
  width: 100%;
}

.card-option {
  justify-content: flex-start;
}

.card-option:not(:last-child){
  border-bottom: 1px solid rgb(232,232,232);
}

.card-option div {
  width: 100%;
}

.option-title,
.option-info {
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-title {
  max-width: 20em;
}

.card-price-info {
  margin-top: 0.5em;
  font-size: 0.85em;
  font-style: italic;
}

.card-notice {
  font-size: 0.85em;
  padding-bottom: 1em;
}

body#r_ek .card-notice {
  padding-bottom: 2em;
}

.card-sizes {
  flex-wrap: wrap;
  justify-content: start;
}

.card-size {
  margin: 0 1.5em 0.7em 0;
}

.card-size .articul {
  font-size: 0.8em;
}

.card-size .qty {
  align-items: stretch;
  justify-content: flex-start;
}

.card-size .name {
  justify-content: center;
  align-items: center;
  width: 6.5em;
  background-color: rgb(249,249,249);
  border: 1px solid rgb(161,151,147);
  border-radius: 2px 0 0px 2px;
  text-align: center;
}

.card-size .name.click {
  cursor: pointer;
}

.in-cart .name {
  color: rgb(255,255,255);
  background-color: rgb(31,34,41);
  border-color: rgb(0,0,0);
}

.qty-box {
  align-items: center;
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(185,183,190);
  border: 1px solid rgb(179,186,196);
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.in-cart .qty-box {
  color: rgb(0,0,0);
}

.btn-minus, .btn-plus {
  width: 1.5em;
  text-align: center;
}

.btn-minus {
  border-right: 1px solid rgb(179,186,196);
  cursor: pointer;
}

.btn-plus {
  border-left: 1px solid rgb(179,186,196);
  cursor: pointer;
}

.choiced-qty {
  width: 2.5em;
  font-size: 0.85em;
  font-weight: 700;
  color: rgb(185,183,190);
  text-align: center;
}

.choiced-qty::-webkit-input-placeholder { color: rgb(185,183,190); }
.choiced-qty::-ms-input-placeholder { color: rgb(185,183,190); }
.choiced-qty::-ms-input-placeholder { color: rgb(185,183,190); }
.choiced-qty::placeholder { color: rgb(185,183,190); }

.choiced-qty:disabled {
  opacity: 1
}

.in-cart .choiced-qty {
  color: rgb(0,0,0);
}

.select-info {
  visibility: hidden;
}

.select-info .row {
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}

.select-info span {
  font-weight: 600;
}

.select-info .bonus {
  display: none;
  align-items: center;
}

.bonus-img {
  width: 50px;
  height: 50px;
  margin: 0 0.5em;
}

.card-desc,
.action-desc {
  font-size: 0.85em;
}

.action-desc {
  display: none;
  margin-bottom: 0.5em;
}

.card-subtitle {
  font-weight: 500;
}

.card-manuf {
  width: 100%;
  max-width: 50em;
  padding-bottom: 1.5em;
}

.manuf-table {
  font-size: 0.85em;
}

#manuf-headers,
.manuf-row {
  align-items: stretch;
  border: 1px solid rgb(232,232,232);
  border-left: none;
}

.manuf-row {
  border-top: none;
}

#manuf-headers > div,
.manuf-row > div {
  padding: 0.1em 0.3em;
  border-left: 1px solid rgb(232,232,232);
}

#manuf-headers > div {
  text-align: center;
}

.manuf-table .man {
  width: 20%;
}

.manuf-table .oem {
  width: 30%;
}

.manuf-table .model {
  width: 30%;
}

.manuf-table .years {
  width: 20%;
}

/* =====================================================================================================
 Стили для малой карточки:
===================================================================================================== */

.min-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13em;
  margin: 0 -1px -1px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232,232,232);
  cursor: pointer;
}

.min-card:hover {
  border: 1px solid rgb(188,188,188);
  z-index: 1;
}

.min-card .card-img-wrap {
  display: flex;
  align-items: center;
  height: 178px;
  margin: 0 auto;
  overflow: hidden;
}

.min-card .card-img {
  max-width: 178px;
  margin: 0 auto;
}

.min-card .card-info {
  width: 100%;
  padding: 0.7em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-card .card-action {
  margin-bottom: 0.5em;
}

.min-card .card-title {
  height: 4.5em;
  margin-bottom: 0.5em;
}

.min-card .card-price-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* =====================================================================================================
 Стили для большой карточки:
===================================================================================================== */

.big-card {
  position: relative;
  width: 100%;
  height: 15em;
  margin: 0 0 -1px 0;
  padding: 1em;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204,204,204);
  overflow: hidden;
}

.big-card.open {
  height: auto !important;
  padding-bottom: 1.5em;
}

body.ekipirovka .big-card .card-head {
  width: 100%;
  max-width: 45em;
}

body.zip .big-card .card-head {
  width: 60%;
}

.big-card .card-title {
  font-size: 1.15em;
  line-height: 1.2;
}

.big-card .card-info-title {
  justify-content: space-between;
  align-items: flex-start;
}

body.ekipirovka .big-card .card-info-title {
  width: 100%;
}

body.zip .big-card .card-info-title {
  width: 40%;
  flex-wrap: wrap;
}

.big-card .card-action {
  margin-right: 2em;
}

.big-card .opt .card-price-title {
  font-size: 1.15em;
}

.big-card .old-price,
.big-card .new-price {
  font-size: 1.5em;
}

.big-card .big-card-body {
  justify-content: flex-start;
  width: 100%;
}

.big-card .card-container-left {
  justify-content: flex-start;
  padding-right: 1em;
  margin-bottom: 1em;
}

body.ekipirovka .big-card .card-container-left {
  width: 100%;
  max-width: 45em;
}

body.zip .big-card .card-container-left {
  width: 60%;
}

.big-card .carousel {
  width: 140px;
  min-width: 140px;
  margin-left: 1.5em;
  margin-right: 2.5em;
  margin-bottom: 2em;
}

.big-card .carousel .left-btn,
.big-card .carousel .right-btn {
  width: 1.5em;
  background-size: 0.7em;
  opacity: 0.2;
}

.big-card .carousel .left-btn:hover,
.big-card .carousel .right-btn:hover {
  opacity: 0.4;
}

.big-card .carousel .left-btn {
  left: -1.5em;
}

.big-card .carousel .right-btn {
  right: -1.5em;
}

.big-card .carousel-gallery img {
  height: 140px;
}

.big-card .card-options-container {
  width: 100%;
  font-size: 0.85em;
  overflow: hidden;
}

body.zip .big-card .card-options {
  max-width: 50em;
  margin-bottom: 1em;
}

.big-card .retail {
  justify-content: flex-start;
  border-bottom: 1px solid rgb(232,232,232);
}

body.zip .big-card .retail {
  max-width: 50em;
}

.big-card .retail div {
  width: 50%;
}

.big-card .retail .card-price-title {
  max-width: 20em;
}

body.ekipirovka .big-card .card-container-right {
  width: 100%;
}

body.zip .big-card .card-container-right {
  width: 40%;
}

.big-card .select-info span {
  font-size: 1.15em;
}

.big-card .card-size .qty {
  font-size: 0.85em;
}

.big-card .card-price-row {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.big-card .card-price-row > div{
  padding-bottom: 1em;
}

.big-card .card-price-row .card-price-info {
  margin-right: 2em;
  margin-bottom: 0;
}

body#r_ek .big-card .card-price-row .card-notice {
  padding-bottom: 0;
}

.big-card .card-price-row .dealer-button {
  margin-bottom: 1em;
}

.big-card .card-price-info {
  margin-bottom: 1em;
}

.big-card .card-fade {
  position: absolute;
  height: 3em;
  width: 100%;
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgb(255,255,255,0), rgb(255,255,255));
  z-index: 1;
}

.big-card.open .card-fade {
  display: none;
}

.big-card .toggle-btn {
  position: absolute;
  width: 28px;
  height: 20px;
  bottom: 0;
  right: 40%;
  background: url(../img/color_list_arrow_bottom.jpg) no-repeat bottom center;
  cursor: pointer;
  z-index: 2;
}

.big-card.open .toggle-btn {
  background-image: url(../img/color_list_arrow_top.jpg);
}

/* =====================================================================================================
 Стили для полной карточки:
===================================================================================================== */

#full-card-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43,46,56,0.9);
  z-index: 30;
}

.full-card {
  position: relative;
  max-width: 1000px;
  max-height: 70vh;
  padding: 2em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(188,188,188);
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
}

.full-card .close-btn {
  top: 0;
  right: 0;
  width: 1.75em;
  font-size: 1.75em;
  text-align: center;
}

.full-card .close-btn:hover {
  color: rgb(241,90,41);
}

.full-card .carousel {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.full-card .carousel-gallery-wrap {
  margin-bottom: 1.5em;
}

.full-card .carousel .search-btn {
  left: 0;
  height: 30px;
}

.full-card .carousel .left-btn,
.full-card .carousel .right-btn {
  width: 2.5em;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.full-card .carousel-gallery-wrap:hover .left-btn,
.full-card .carousel-gallery-wrap:hover .right-btn {
  opacity: 0.5;
}

.full-card .carousel-nav .carousel-item {
  width: 25%;
  max-width: 100px;
  min-width: 70px;
}

.full-card .card-info {
  justify-content: flex-start;
  width: 60%;
}

.full-card .card-head {
  padding-bottom: 1em;
}

.full-card .card-title {
  font-size: 1.75em;
  line-height: 1.2;
}

.full-card .old-price,
.full-card .new-price {
  font-size: 1.5em;
}

.full-card .card-options {
  padding-bottom: 1.5em;
}

.full-card .card-manuf-info {
  padding-bottom: 1.5em;
}

.full-card .card-option {
  min-width: 25em;
}

.full-card .select-info {
  font-size: 1.28em;
}

.full-card .select-info .row {
  justify-content: flex-start;
}

/* =====================================================================================================
 Стили для страницы товара:
===================================================================================================== */

.product-card {
  position: relative;
  width: 100%;
  padding: 2em;
  opacity: 0;
}

.product-card .carousel {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.product-card .carousel-gallery-wrap {
  margin-bottom: 1.5em;
}

.product-card .carousel .search-btn {
  left: 0;
  height: 30px;
}

.product-card .carousel .left-btn,
.product-card .carousel .right-btn {
  width: 2.5em;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.product-card .carousel-gallery-wrap:hover .left-btn,
.product-card .carousel-gallery-wrap:hover .right-btn {
  opacity: 0.5;
}

.product-card .carousel-nav .carousel-item {
  width: 25%;
  max-width: 100px;
  min-width: 70px;
}

.product-card .card-info {
  justify-content: flex-start;
  width: 60%;
}

.product-card .card-head {
  padding-bottom: 1em;
}

.product-card .card-title {
  font-size: 1.75em;
  line-height: 1.2;
}

.product-card .old-price,
.product-card .new-price {
  font-size: 1.5em;
}

.product-card .card-options {
  padding-bottom: 1.5em;
}

.product-card .card-manuf-info {
  padding-bottom: 1.5em;
}

.product-card .card-option {
  min-width: 25em;
}

.product-card .select-info {
  font-size: 1.28em;
}

.product-card .select-info .row {
  justify-content: flex-start;
}

/* =====================================================================================================
 Стили для изображения на весь экран:
===================================================================================================== */

#full-img-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3em 0;
  background-color: rgba(43, 46, 56, 0.9);
  z-index: 40;
}

#full-img-container svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  margin: 1em;
  z-index: 1;
}

#full-img-container svg path {
  fill: rgb(255, 255, 255);
}

#full-img-container svg:hover path {
  fill: rgb(241,90,41);
}

#full-img {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#full-img-container .carousel {
  display: flex;
  align-items: center;
  width: 1000px;
  height: auto;
}

#full-img-container .carousel-gallery-wrap {
  border-radius: 5px;
}

#full-img-container .carousel .left-btn,
#full-img-container .carousel .right-btn {
  width: 3em;
  background-color: rgb(255, 255, 255, 0.5);
  opacity: 0;
}

#full-img-container .carousel:hover .left-btn,
#full-img-container .carousel:hover .right-btn {
  opacity: 0.5;
}

#full-img-container .carousel-gallery img {
  width: 1000px;
  height: auto;
}

#img-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/color_page_loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  visibility: hidden;
}
