/* =====================================================================================================
Стили страницы "Один заказ":
===================================================================================================== */

.main-header {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #B3B3B3;
}

.info {
  color: #34495E;
  font-size: 1.15em;
}

.info > .row {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0.8em;
  padding-bottom: 1.5em;
  color: #34495E;
}

.info a {
  text-decoration: underline;
}

.info .payment-block {
  justify-content: space-between;
  align-items: flex-start;
}

.info .head {
  margin-bottom: 1em;
}

.info .title {
  padding-bottom: 0.3em;
  white-space: nowrap;
}

.info .text {
  color: #666666;
}

.info .details span {
  padding-left: 0.7em;
}

.info .details-main {
  margin-right: 5.5em;
}

.info .comments {
  width: 25em;
}

.info .comments .text {
  color: rgba(102, 102, 102, 0.7);
}

.info .payments {
  width: 23em;
  margin-right: 3em;
}

.info .payments > .row {
  justify-content: space-between;
  align-items: flex-start;
}

.table-wrap .tabs {
  justify-content: flex-start;
  align-items: flex-start;
}

.table-wrap .tab {
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3.6em;
  margin-right: 0.7em;
  font-size: 1.17em;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
}

.table-wrap .tab.total,
.table-head .top.total {
  background-color: #53606F;
}

.table-wrap .tab.expected,
.table-head .top.expected {
  background-color: #2A659D;
}

.table-wrap .tab.available,
.table-head .top.available {
  background-color: #DFA12A;
}

.table-wrap .tab.ready,
.table-head .top.ready {
  background-color: #6C4D77;
}

.table-wrap .tab.shipped,
.table-head .top.shipped {
  background-color: #009F84;
}

.table-wrap .tab.shortage,
.table-head .top.shortage {
  background-color: #778A95;
}

.table-wrap .tab.reclamation,
.table-head .top.reclamation {
  background-color: #A89271;
}

.table-wrap .tab.disabled {
  color: #818A94;
  background-color: #D4D7DB;
}

.table.total tr:not(.total) {
  display: none;
}

.table.total tr:not(.total) {
  display: none;
}

.table.total tr:not(.total) {
  display: none;
}

.table.total tr:not(.total) {
  display: none;
}

.table.total tr:not(.total) {
  display: none;
}

.table.total tr:not(.total) {
  display: none;
}

.table.total tr:not(.total) {
  display: none;
}

