/* =====================================================================================================
Сброс стилей браузера по умолчанию:
===================================================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  display: inline-block;
  color: #34548A;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

svg {
  display: inline-block;
}

input {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  outline: none;
}

ul {
  list-style-position: outside;
  margin-left: 15px;
}

select {
  background-color: rgb(248, 248, 248);
}

th {
  font-weight: 400;
}

::-webkit-input-placeholder {color: #666666;}
::-ms-input-placeholder {color: #666666;}
::-ms-input-placeholder {color: #666666;}
::placeholder {color: #666666; }

/* =====================================================================================================
Основные стили:
===================================================================================================== */

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 65px;
  padding-bottom: 110px;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #666666;
  background-color: #F2F2F2;
}

body.lock {
  overflow: hidden;
}

.container {
  margin: 0 4rem;
}

/* =====================================================================================================
Общие стили:
===================================================================================================== */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.title {
  color: #34495E;
}

.text {
  color: #666666;
}

.text.light{
  color: rgba(102, 102, 102, 0.7);
}

.done {
  color: #228007;
}

.fail {
  color: #CE0014;
}

.wait {
  color: #D97E00;
}

.visible-xs {
  display: none;
}

.fixed {
  position: fixed;
}

.displayNone {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* =====================================================================================================
Общие стили для карусели:
===================================================================================================== */

.carousel {
  visibility: hidden;
  position: relative;
  cursor: pointer;
}

.carousel-gallery-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.carousel-gallery .carousel-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
}

.carousel-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-nav .carousel-item {
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  opacity: 0.6;
}

.carousel-nav .carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.loupe {
  position: absolute;
  overflow: hidden;
  cursor: zoom-in;
}

.big-img {
  position: absolute;
}

/* =====================================================================================================
Стили для всплывающих подсказок:
===================================================================================================== */

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  display: none;
  position: absolute;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  text-transform: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  min-width: 3em;
  max-width: 21em;
  padding: 0.5em 0.7em;
  color: #34495E;
  background-color: #D4D7DB;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;
}

.help[tooltip]::after {
  background-color: #FFE896;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  left: 50%;
  border-bottom-width: 0;
  border-top-color: #D4D7DB;
  transform: translate(-50%, -0.1em);
}

.help[tooltip]:not([flow])::before,
.help[tooltip][flow^="up"]::before {
  border-top-color: #FFE896;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  left: 50%;
  bottom: calc(100% + 5px);
  transform: translate(-50%, -0em);
}

/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
  top: 100%;
  left: 50%;
  border-top-width: 0;
  border-bottom-color: #D4D7DB;
  transform: translate(-50%, 0.1em);
}

.help[tooltip][flow^="down"]::before {
  border-bottom-color: #FFE896;
}

[tooltip][flow^="down"]::after {
  left: 50%;
  top: calc(100% + 5px);
  transform: translate(-50%, 0em);
}

/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #D4D7DB;
  left: calc(0em - 5px);
  transform: translate(-0.1em, -50%);
}

.help[tooltip][flow^="left"]::before {
  border-left-color: #FFE896;
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0em, -50%);
}

/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #D4D7DB;
  right: calc(0em - 5px);
  transform: translate(0.1em, -50%);
}

.help[tooltip][flow^="right"]::before {
  border-right-color: #FFE896;
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0em, -50%);
}

@keyframes tooltips-vert {
  to {
    opacity: 1;
    /* transform: translate(-50%, 0); */
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    /* transform: translate(0, -50%); */
  }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* =====================================================================================================
Компоненты:
===================================================================================================== */

/* Кнопки: */

.btn {
  min-width: 190px;
  padding: 0.714em 1.5em;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.basic.btn {
  color: #34495E;
  background-color: #D4D7DB;
}

.basic.btn:hover {

}

.active.btn {
  color: #FFFFFF;
  background-color: #F05A28;
}

.active.btn:hover {
  background-color: #DA3600;
}

.unactive.btn {
  color: #FFFFFF;
  background-color: #34495E
}

.unactive.btn:hover {

}

/* Иконки как svg в html */

.close-btn,
.search-btn {
  cursor: pointer;
}

/* Иконки как background у div */

.icon {
  background-size: cover;
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.close.icon {
  background-image: url(../img/close.svg);
}

.search.icon {
  background-image: url(../img/search.svg);
}

.cart.icon {
  background-image: url(../img/cart_grey.svg);
}

.cart.icon.white {
  background-image: url(../img/cart_white.svg);
}

.view-list.icon {
  background-image: url(../img/view_list.svg);
}

.view-blocks.icon {
  background-image: url(../img/view_blocks.svg);
}

.view-list.icon.active {
  background-image: url(../img/view_list.svg);
}

.view-blocks.icon.active {
  background-image: url(../img/view_blocks.svg);
}

.profile.icon {
  background-image: url(../img/profile.svg);
}

.alerts.icon {
  background-image: url(../img/alerts.svg);
}

.question.icon {
  background-image: url(../img/question.svg);
}

.settings.icon {
  background-image: url(../img/settings.svg);
}

.clear-filter.icon {
  background-image: url(../img/clear_filter.svg);
}

.clear-filter.icon.disabled {
  background-image: url(../img/clear_filter_disabled.svg);
}

.download.icon {
  background-image: url(../img/download.svg);
}

.star.icon {
  background-image: url(../img/star_gray.svg);
  background-size: cover;
}

.disabled .star.icon {
  background-image: url(../img/star_white_gray.svg);
}

.checkbox.icon {
  background-image: url(../img/checkbox.svg);
}

.checked .checkbox.icon {
  background-image: url(../img/checkbox_checked.svg);
}

.legend.icon.expected {
  background-image: url(../img/expected.svg);
}

.legend.icon.available {
  background-image: url(../img/available.svg);
}

.legend.icon.ready {
  background-image: url(../img/ready.svg);
}

.legend.icon.shipped {
  background-image: url(../img/shipped.svg);
}

.legend.icon.shortage {
  background-image: url(../img/shortage.svg);
}

.checked .legend.icon.expected {
  background-image: url(../img/expected_check.svg);
}

.checked .legend.icon.available {
  background-image: url(../img/available_check.svg);
}

.checked .legend.icon.ready {
  background-image: url(../img/ready_check.svg);
}

.checked .legend.icon.shipped {
  background-image: url(../img/shipped_check.svg);
}

.checked .legend.icon.shortage {
  background-image: url(../img/shortage_check.svg);
}

.cart .message.icon {
  background-image: url(../img/alert_cart.svg);
}

.percent .message.icon {
  background-image: url(../img/alert_percent.svg);
}

.attention .message.icon {
  background-image: url(../img/alert_attention.svg);
}

.toggle.icon {
  background-image: url(../img/toggle_off.svg);
}

.disabled .toggle.icon {
  background-image: url(../img/toggle_disabled.svg);
}

.checked.full .toggle.icon {
  background-image: url(../img/toggle_on_full.svg);
}

.checked.limit .toggle.icon {
  background-image: url(../img/toggle_on_limit.svg);
}

.not-found.icon {
  background-image: url(../img/404.svg);
}

/* Выпадающее меню: */

.activate {
  position: relative;
  width: fit-content;
  min-width: 200px;
  cursor: pointer;
}

.activate.hover:hover .head,
.activate.open .head {
  border-color: #34495E;
}

.activate.hover:hover .triangle,
.activate.open .triangle {
  transform: rotate(180deg);
}

.activate.hover:hover .drop-down,
.activate.open .drop-down {
  max-height: 350px;
  opacity: 1;
}

.activate .head {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.7em 1.5rem;
  background-color: #FFFFFF;
  border: 1px solid rgba(52, 73, 94, 0.4);
  border-radius: 3px;
}

.activate .head .title {
  padding-right: 0.5em;
}

.activate .head .triangle {
  width: 0.57em;
  height: 0.357em;
}

.drop-down {
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 0px;
  background-color: #FFFFFF;
  border: 1px solid rgba(52, 73, 94, 0.4);
  border-top: none;
  border-radius: 0 0 3px 3px;
  -webkit-transition: max-height 0.3s linear;
  -moz-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
}

.drop-down .item {
  justify-content: flex-start;
  align-items: center;
  padding: 0.7em 1.5rem;
  cursor: pointer;
}

.activate.select .drop-down .item:hover {
  background-color: #E4E3E7;
}

.activate.checkbox .checkbox.icon {
  margin-right: 1.5rem;
  width: 0.857em;
  height: 0.857em;
}

.activate.checkbox .drop-down .item:hover {
  font-weight: 600;
}

/* Поле поиска: */

form.search {
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 0.3125em;
  font-size: 16px;
  border: 1px solid rgba(52, 73, 94, 0.4);
  border-radius: 2px;
  background-color: #FFFFFF;
}

form.search > .row {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

form.search input {
  width: 100%;
  padding: 0.125em 0.3125em;
  font-size: 16px;
  line-height: 1;
  color: #666666;
  background-color: #FFFFFF;
}

form.search .search-btn,
form.search .close-btn {
  width: 1em;
  height: 1em;
}

form.search .close-btn {
  visibility: hidden;
}

/* Информация о количестве в кружке: */

.count {
  /* display: none; */
  position: absolute;
  justify-content: center;
  width: 1.76em;
  height: 1.75em;
  top: 0;
  right: -0.3em;
  font-size: 0.57em;
  line-height: 1.6;
  color: #FFFFFF;
  background-color: #C33039;;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  text-align: center;
}

/* Кнопка "Наверх": */

#up-btn {
  display: none;
  position: fixed;
  right: 4rem;
  bottom: 1.5em;
  width: 2.57em;
  height: 2em;
  cursor: pointer;
  z-index: 150;
}

#up-btn.show {
  display: block;
}

#up-btn:hover rect {
  fill-opacity: 0.8;
}

/* Прелоадер страницы: */

#page-loader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/page_loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  z-index: 40;
}

/* Сообщение об ошибке на странице: */

#error-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43,46,56,0.8);
  z-index: 40;
}

#error-container svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  margin: 1em;
  z-index: 1;
}

#error-container svg path {
  fill: rgb(255, 255, 255);
}

#error-container svg:hover path {
  fill: rgb(241,90,41);
}

#error {
  width: 400px;
  max-width: 90vw;
  padding: 2em;
  font-size: 1em;
  color: rgb(68,68,68);
  background-color: rgb(255,255,255);
  border-radius: 4px;
  text-align: center;
}

/* =====================================================================================================
Стили для шапки и её содержимого:
===================================================================================================== */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.143em;
  z-index: 200;
}

.header-top {
  height: 64px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
}

.header-top a {
  display: block;
}

.header-top .container {
  height: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.header-top .logo {
  height: 32px;
  margin-right: 5em;
}

.header-top .logo img {
  max-height: 32px;
  max-width: 100%;
}

.header-top .left-side {
  justify-content: space-between;
  align-items: center;
}

.header-top .left-side > .row {
  justify-content: space-between;
}

.header-top .activate {
  height: 64px;
  width: 240px;
  z-index: 1;
}

.header-top .activate .head {
  height: 100%;
  justify-content: flex-start;
  border: none;
}

.header-top .head .title {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header-top .head .triangle {
  width: 0.51em;
  height: 0.32em;
}

.header-top .activate:hover .triangle {
  transform: rotate(180deg);
}

.header-top .drop-down {
  position: static;
  max-width: initial;
  font-size: 0.875em;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
}

.header-top .drop-down .item {
  padding: 1em 1.5rem;
}

.header-top .drop-down:not(.catalogs) .item:hover {
  background-color: #E4E3E7;
}

.header-top .catalog {
  width: 100%;
}

.header-top .catalog:hover {
  color: #34495E;
  text-decoration: underline;
}

.header-top .drop-down .row:last-child .item:last-child {
  border-radius: 0 0 4px 0;
}

.header-top .item.cart-info {
  display: flex;
  justify-content: flex-start;
  padding: 0 1.5rem;
  border: 1px solid transparent;
  border-left: 1px solid #E4E3E7;
}

.header-top .cart-info .cart.icon {
  margin-right: 0.5em;
}

.header-top .cart-info .amount {
  width: 3em;
  color: #666666;
  text-align: center;
  background-color: #ECF0F1;
  border-radius: 50px;
}

.header-top .cart-info .amount.full {
  color: #FFFFFF;
  background-color: #E74C3C;
}

.header-top .cart-info a:hover .amount:not(.full) {
  background-color: #FFFFFF;
}

.header-top .cart-info:hover {
  border-color: #34495E;
}

.header-top .right-side {
  justify-content: space-between;
  align-items: center;
}

.header-top .account a {
  display: block;
}

.header-top .profile.icon {
  margin-right: 0.5em;
  width: 2.25em;
  height: 2.25em;
}

.header-top .right-side .login {
  max-width: 160px;
}

.header-top .right-side .login .title,
.header-top .right-side .login .username {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-top .right-side .login .title {
  font-weight: 600;
  white-space: nowrap;
}

.header-top .right-side .login .username {
  font-size: 0.875em;
  color: #8596A6;
  white-space: nowrap;
}

/* Если в выпадающем меню нужна информация о пользователе */

/* .header-top .right-side .drop-down .title {
  color: #000000;
}

.header-top .right-side .drop-down .username {
  font-size: 0.91em;
  color: #8596A6;
}

.header-top .right-side .links {
  border-bottom: 1px solid #F8F4F4;
} */

/* Предыдущие стили для кнопки выхода: */

/* .header-top #exit {
  position: relative;
  padding-left: 4rem;
}

.header-top #exit::before {
  position: absolute;
  content: '';
  top: 25%;
  left: 1.5rem;
  width: 15px;
  height: 15px;
  background-image: url(../img/exit.svg);
  background-size: cover;
} */

.header-top .alerts.icon {
  position: relative;
  width: 2.25em;
  height: 2.25em;
}

.header-menu {
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  background-color: #34495E;
}

.header-menu .container {
  justify-content: space-between;
  align-items: stretch;
  background-color: #53606F;
}

.header-menu .container > .row {
  align-items: center;
}

.header-menu a {
  color: #FFFFFF;
}

.header-menu .catalog > a {
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.header-menu .topmenu-item {
  background-color: #34495E;
}

.header-menu .submenu-item {
  margin-right: 0.1rem;
  transition: 200ms;
}

.header-menu .submenu-item:hover {
  background-color: #F05A28;
}

.header-menu .submenu-item.active {
  background-color: #F05A28;
}

.header-menu .info {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 31em;
}

.header-menu form.search {
  position: absolute;
  left: 0;
  margin-right: 2em;
  z-index: 1;
  transition: 200ms;
}

.header-menu form.search.positioned {
  right: 1em;
}

.header-menu #header-cart {
  justify-content: space-between;
  align-items: center;
  width: 16em;
  height: 100%;
  padding-left: 2em;
  background-color: #34495E;
}

.header-menu .cart.icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}

.header-menu .count {
  top: -0.3em;
  right: -1em;
}

/* =====================================================================================================
Стили для футера и его содержимого:
===================================================================================================== */

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #FFFFFF;
  background-color: #454D56;
  z-index: 100;
}

.footer .wrap {
  padding: 1.6rem 0;
}

/* =====================================================================================================
Стили хедера в основном контенте:
===================================================================================================== */

.main-header {
  padding: 1em 0;
}

#main-nav  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 0.5em 0;
  font-size: 1.15em;
}

#main-nav a {
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #2C3E50;
  cursor: pointer;
}

#main-nav  a.active {
  cursor: default;
}

#main-nav .item {
  position: relative;
  margin-left: 3.5em;
}

#main-nav .item::before {
  position: absolute;
  content: url(../img/arrow.svg);
  left: -2em;
  width: 4px;
  height: 8px;
}

.main-title {
  justify-content: space-between;
  align-items: center;
}

.main-title .title-row {
  justify-content: flex-start;
  align-items: center;
  font-size: 1.715em;
}

#cart-name {
  display: none;
}

.main-title .title {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.main-title .question {
  width: 0.96em;
  height: 0.96em;
  margin-left: 0.5em;
}

.main-title .settings {
  font-size: 1.72em;
  width: 0.96em;
  height: 0.96em;
}

/* =====================================================================================================
Стили колонок с информацией:
===================================================================================================== */

.information {
  font-size: 1.15em;
}

.information a {
  text-decoration: underline;
}

.information .head {
  margin-bottom: 1em;
  color: #34495E;
}

.information .item {
  justify-content: space-between;
  align-items: flex-start;
}

.information .title {
  padding-right: 0.7em;
  padding-bottom: 0.2em;
  white-space: nowrap;
}

.information .comment {
  max-width: 25em;
}

/* =====================================================================================================
Всплывающее окно уведомлений:
===================================================================================================== */

#alerts-container  {
  display: none;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(73, 85, 100, 0.6);
  z-index: 200;
}

#alerts-container > .alerts {
  position: relative;
  top: 10%;
  width: 70%;
  height: 50%;
  background-color: #FFFFFF;
  margin-right: 1rem;
  overflow: hidden;
}

#alerts-container .alerts-title {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1rem 0.5em 2.7rem;
  background-color: #E9E9E9;
}

#alerts-container .alerts-title .row {
  align-items: center;
}

#alerts-container .alerts-title .title {
  font-size: 1.071em;
  letter-spacing: 0.01em;
  margin-left: 0.8em;
}

#alerts-container .alerts.icon {
  width: 1.86em;
  height: 1.86em;
  cursor: default;
}

#alerts-container .close-btn {
  width: 1.43em;
  height: 1.43em;
}

#alerts-body {
  height: 100%;
  padding: 0 3rem;
  overflow-y: scroll;
}

#alerts-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#alerts-body::-webkit-scrollbar-track {
  background-color: #D4D7DB;
}

#alerts-body::-webkit-scrollbar-thumb {
  background-color: rgb(52,73,94,0.5);
  border: 3px solid #D4D7DB;
  border-radius: 10px;
}

#alerts-body > .message {
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid #DBDBDB;
}

#alerts-body .message.icon {
  margin-right: 1em;
  width: 1.36em;
  height: 1.36em;
}

#alerts-body > .message a {
  letter-spacing: 0.014em;
  text-decoration: underline;
}

#alerts-body > .message .date {
  font-size: 0.64em;
  letter-spacing: 0.02em;
  color: #858585;
  background-color: #FFFFFF;
}

/* =====================================================================================================
Основные стили таблиц:
===================================================================================================== */

.table-wrap {
  width: 100%;
  max-height: 75vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.table-wrap::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.table-wrap::-webkit-scrollbar-track {
  background-color: #D4D7DB;
}

.table-wrap::-webkit-scrollbar-thumb {
  background-color: rgb(52,73,94,0.5);
  border: 3px solid #D4D7DB;
  border-radius: 10px;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  direction: ltr;
}

.table.positioned {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-head th,
.table-body td {
  position: relative;
}

.table th > .row,
.table td > .row {
  justify-content: flex-start;
  align-items: center;
}

.table th > .row,
.table td > .row {
  padding: 0.715em 1.2em;
}

.table th > .row div:first-child,
.table td > .row div:first-child {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-head {
  color: #FFFFFF;
  background-color: #53606F;
}

.table-head > .row {
  width: 100%;
  cursor: pointer;
}

.table-head .title {
  margin-right: 0.5em;
  color: #FFFFFF;
}

.table-head .triangle {
  width: 0.57em;
  height: 0.36em;
}

.table-head .resize-btn {
  display: block;
  position: absolute;
  top: 5%;
  height: 90%;
  right: -4px;
  width: 10px;
  z-index: 1;
  cursor: col-resize;
}

.table-head .resize-btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 10%;
  right: 4px;
  width: 1px;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.7);
}

.table-head .resize-btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 110%;
  right: 4px;
  width: 1px;
  background-color: #DCDCDC;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.table-head .resize-btn:hover::after {
  height: 75vh;
  opacity: 1;
}

.table-head .statistics .drop-down {
  min-width: initial;
  margin-left: -1.2em;
}

.table-head .drop-down .item {
  justify-content: flex-start;
  color: #666666;
}

.table-body {
  color: #666666;
}

.table-body td {
  border-bottom: 1px solid #DCDCDC;
}

.table-body tr:hover {
  background-color: #EFEEF1;
}
