/* =====================================================================================================
 Сброс стилей браузера по умолчанию:
===================================================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

input {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  outline: none;
}

/* =====================================================================================================
 Основные стили:
===================================================================================================== */

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: rgb(0,0,0);
  background-color: rgb(247,249,249);
}

.container {
  margin: 0 7rem;
}

/* =====================================================================================================
 Общие стили:
===================================================================================================== */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-btn {
  position: absolute;
  cursor: pointer;
  color: rgb(180,180,180);
}

.search-btn::before {
  content: '\f002';
  font-family: 'FontAwesome';
  cursor: pointer;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.close-btn::before {
  content: '\f00d';
  font-family: 'FontAwesome';
  cursor: pointer;
}

.visible-xs {
  display: none;
}

.red {
  color: rgb(255,0,0);
}

.grey {
  color: rgb(142,135,135);
}

.fixed {
  position: fixed;
}

.displayNone {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* =====================================================================================================
 Стили для шапки и её содержимого:
===================================================================================================== */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.5);
  z-index: 100;
}

.header-main {
  padding: 1rem 0;
  font-weight: 500;
  background-color: rgb(255,255,255);
}

.header-main .container {
  align-items: center;
}

.logo {
  width: 50%;
  height: 44px;
  margin-right: 1em;
}

.logo img {
  max-height: 44px;
  max-width: 100%;
}

.profile-info {
  width: 50%;
  line-height: 1.5;
}

.cart, .account {
  position: relative;
  width: 50%;
  padding-left: 3em;
  z-index: 200;
}

.cart::before, .account::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 2.5em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-size: 2.5em;
}

.cart::before {
  background-image: url(../../img/header_footer/ico_cart.png);
}

.cart:hover::before, .cart:active::before{
  background-image: url(../../img/header_footer/ico_cart_orange.png);
}

.account::before {
  background-image: url(../../img/header_footer/ico_profile.png);
}

.cart-amount, .cart-price {
  display: inline-block;
}

.cart span {
  font-weight: 700;
}

.cart-title {
  color: rgb(241,89,42);
}

.account {
  width: 13em;
}

.account-title {
  font-weight: 700;
  color: rgb(241,89,42);
}

.account-title::after {
  content: '\f107';
  font-family: 'FontAwesome';
  padding-left: 0.7em;
}

.account:hover .account-title::after {
  content: '\f106';
}

.account-username {
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-menu {
  display: none;
  position: absolute;
  top: 3em;
  right: 0;
  width: 13em;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(222, 222, 222, 0.7);
}

.account:hover .account-menu {
  display: block;
}

.account-menu :first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.account-menu :last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.account-menu a {
  width: 100%;
  padding: 0.7em 1.4em;
}

.account-menu a:hover, .account-menu a:active {
  color: rgb(255, 255, 255);
  background-color: rgb(241,89,42);
}

.header-menu a {
  margin-right: -2px;
}

.header-menu a:hover {
  color: rgb(255,255,255);
}

.main-menu {
  color: rgb(255,255,255);
  background-color: rgb(31,34,41);
}

.main-menu > .row {
  align-items: baseline;
}

.topmenu-item {
  padding: 1rem 2rem;
  /* font-family: 'TradeGothicProCyr'; */
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.8em;
  line-height: 0.8;
  text-transform: uppercase;
}

.topmenu-item.activ,
.topmenu-item:hover {
  background-color: rgb(241,89,42);
}

.search {
  position: relative;
  align-self: center;
  padding: 0.35em 0;
  width: 40%;
}

.search .search-btn {
  top: 10%;
  right: 0.5em;
  font-size: 1.5em;
}

#search {
  width: 100%;
  padding: 0.35em 2.5em 0.35em 0.7em;
  font-size: 1em;
  line-height: 1.2;
  border-radius: 2px;
  background-color: rgb(255,255,255);
}

.submenu {
  background-color: rgb(243,243,246);
}

.submenu-items {
  overflow: hidden;
}

.submenu-item {
  padding: 1rem 2rem;
  font-size: 1.15em;
}

.submenu-item.activ,
.submenu-item:hover {
  background-color: rgb(172,177,186);
}

.subsubmenu {
  background-color: rgb(246,246,248);
}

.header-select {
  background-color: rgb(241,90,41);
}

.select-filters {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
}

.select-item {
  margin-right: 3.125em;
  padding: 0.5rem 0;
}

.select-filters .item-model {
  margin-right: 0;
}

.item-brands {
  width: 25%;
}

.item-year {
  width: 25%;
}

.item-model {
  width: 50%;
}

.select-filters .close-btn {
  position: static;
  margin-left: 0.8em;
  font-size: 1.3em;
  color: rgb(248,172,148);
}

.select-filters .close-btn.activ {
  color: rgb(255,255,255);
  opacity: 0.85;
}

.select-filters .close-btn.activ:hover {
  opacity: 1;
}

.select-item select {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.75em;
  font-size: 1em;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(255,255,255);
  border: none;
  border-radius: 2px;
  outline: none;
}

.select-item select[disabled] {
  opacity: 0.5;
}

.select-oem {
  position: relative;
  width: 25%;
  margin-right: 0;
  padding: 0.5rem 0;
}

.select-oem .search-btn {
  top: 15%;
  left: 0.5em;
  font-size: 1.5em;
}

.select-oem .close-btn {
  top: 25%;
  right: 0.5em;
  font-size: 1.2em;
  color: rgb(180,180,180);
}

#oem {
  width: 100%;
  height: 3rem;
  padding: 0.35em 0.7em 0.35em 2.5em;
  font-size: 1em;
  line-height: 1.5;
  color: rgb(136,136,136);
  background-color: rgb(255,255,255);
  border-radius: 2px;
}

.oem-dropdown {
  display: none;
  position: absolute;
  top: 80%;
  width: 100%;
  padding-top: 0.5em;
  background-color: rgb(255,255,255);
  border-radius: 2px;
}

.oem-not-found {
  display: none;
  padding: 0.35em 0.75em;
  background-color: rgb(240,240,240);
}

#oem-list {
  display: none;
  max-height: 28em;
  overflow-y: scroll;
}

.oem {
  padding: 0.35em 0.75em;
}

.oem:hover{
  background-color: rgb(0,136,204);
}

/* =====================================================================================================
 Стили для основного содержимого:
===================================================================================================== */

.content {
  min-height: 60vh;
}

.main {
  background-color: rgb(247,249,249);
}

.main-header {
  padding: 1em 0;
  align-items: center;
}

.main-nav a {
  color: rgb(91,91,93);
  text-decoration: underline;
  cursor: pointer;
}

.cur-page {
  color: rgb(241,90,41);
}

.nav-icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 0.5em;
  background: url(../img/ico_nav.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sortbox {
  align-items: center;
}

.sortbox-title {
  margin-right: 1em;
  color: rgb(91,91,93);
}

.view-list, .view-blocks {
  position: relative;
  width: 1.5em;
  height:  1.5em;
  font-family: 'FontAwesome';
  font-size: 1.3em;
  cursor: pointer;
}

.view-list.activ, .view-blocks.activ {
  color: rgb(255,102,50);
  cursor: default;
}

.view-list {
  margin-right: 0.5em;
}

.view-list::before {
  content: '\f0c9';
}

.view-blocks::before {
  content: '\f00a';
}

.filters-container {
  display: none;
  min-width: 14em;
  margin-right: 1rem;
  cursor: pointer;
}

.filters {
  position: fixed;
  width: 14em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.default-btn {
  margin-bottom: 2rem;
  padding: 0.3em;
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.15em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgb(51,51,51);
  border-radius: 2px;
}

.filter-title {
  position: relative;
  padding: 0.5em 2em 0.3em 0.5em;
  font-family: 'FranklinGothic-DemiCond';
  font-size: 1.15em;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(139,140,140);
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-title::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  top: 45%;
  right: 0;
  background: url(../img/filter_opener.png);
  background-position-x: -9px;
  background-repeat: no-repeat;
}

.open .filter-title::after {
  background-position-x: 0;
}

.filter-items {
  display: none;
  font-size: 0.85em;
  color: rgb(88, 88, 88);
}

.open .filter-items {
  display: block;
}

.filter-item {
  position: relative;
  padding: 0.5em 0 0 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-item::before {
  content: '\f096';
  font-family: 'FontAwesome';
  position: absolute;
  top: 25%;
  left: 0;
}

.check {
  color: rgb(51,51,51);
  background-color: rgb(247,247,249);
}

.check::before {
  content: '\f046';
}

/* Стили для галереи: */

#gallery {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

#gallery-notice {
  display: none;
  width: 100%;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Общие стили для карточек: */

.ptype3 {
  text-decoration: line-through;
}

.card-title {
  font-weight: 500;
}

.card-img {
  width: 100%;
  min-height: 11.43em;
}

.promo-title {
  display: inline-block;
  padding: 0.35em 0.6em;
  font-size: 0.8em;
  color: rgb(255,255,255);
}

.card-price {
  justify-content: flex-start;
  align-items: baseline;
}

.card-price :first-child {
  padding-right: 1em;
}

.opt {
  flex-wrap: wrap;
  align-items: center;
}

.old-price {
  padding-right: 0.5em;
}

.card-qty {
  display: inline-block;
  position: relative;
  height: 1.5em;
  padding-left: 20px;
  font-size: 0.8em;
  color: rgb(0,176,104);
}

.card-qty::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/ico_stock_arrive_new.png);
  background-size: cover;
}

.grey-gty::before {
  background-position-x: -15px;
}

.carousel {
  position: relative;
}

.left-btn, .right-btn {
  position: absolute;
  top: 45%;
}

.left-btn {
  left: 0;
  visibility: hidden;
}

.right-btn {
  right: 0;
}

.left-btn::before {
  content: url(../img/list_slider_arrow_left.jpg);
}

.right-btn::before {
  content: url(../img/list_slider_arrow_right.jpg);
}

.carousel-container {
  padding: 0 1.5em;
}

.carousel-gallery {
  overflow: hidden;
}

.carousel-inner {
  width: 5000px;
  justify-content: flex-start;
  transition: margin .6s ease-in-out;
}

.carousel-item {
  align-items: center;
  min-height: 10em;
  padding-right: 0.5em;
}

.carousel-item img {
  width: 100%;
}

.card-options {
  width: 100%;
}

.card-option {
  justify-content: flex-start;
}

.card-option:not(:last-child){
  border-bottom: 1px solid rgb(232,232,232);
}

.card-option div {
  width: 50%;
}

.option-title,
.option-info {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price-info {
  font-size: 0.85em;
  font-style: italic;
}

.card-notice {
  font-size: 0.85em;
  padding-bottom: 1em;
}

.card-sizes {
  flex-wrap: wrap;
  justify-content: start;
}

.card-size {
  margin: 0 1.5em 0.7em 0;
}

.size-articul {
  font-size: 0.8em;
}

.size-name {
  width: 6.5em;
  padding: 0.375em 0.5em;
  background-color: rgb(249,249,249);
  border: 1px solid rgb(161,151,147);
  border-radius: 2px 0 0px 2px;
  text-align: center;
}

.in-cart .size-name {
  color: rgb(255,255,255);
  background-color: rgb(31,34,41);
}

.size-qty {
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(185,183,190);
  border: 1px solid rgb(179,186,196);
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.in-cart .size-qty {
  color: rgb(0,0,0);
}

.btn-minus, .btn-plus {
  width: 1.2em;
  text-align: center;
}

.btn-minus {
  border-right: 1px solid rgb(179,186,196);
  cursor: pointer;
}

.btn-plus {
  border-left: 1px solid rgb(179,186,196);
  cursor: pointer;
}

.choice-gty {
  width: 2em;
  font-size: 0.85em;
  font-weight: 700;
  color: rgb(185,183,190);
  text-align: center;
}

.in-cart .choice-gty {
  color: rgb(0,0,0);
}

.card-select-info span {
  font-weight: 500;
}

.card-description {
  font-size: 0.85em;
}

.description-title {
  font-weight: 500;
  padding-bottom: 0.5em;
}

/* Стили для малой карточки: */

.min-card {
  width: 13em;
  height: 21.5em;
  margin: 0 -1px -1px 0;
  padding: 0.7em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232,232,232);
  cursor: pointer;
}

.min-card .card-promo {
  height: 2.5em;
  margin-bottom: 0.5em;
}

.min-card .card-title {
  height: 6em;
  margin-bottom: 0.5em;
  overflow: auto;
  text-overflow: ellipsis;
}

.min-card .card-price-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Стили для большой карточки: */

.big-card {
  position: relative;
  width: 100%;
  height: 14em;
  margin: 0 0 -1px 0;
  padding: 0.7em;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204,204,204);
  overflow-x: auto;
  overflow-y: hidden;
}

.big-card.open {
  height: 100%;
  padding-bottom: 1.5em;
}

.big-card .card-head {
  width: 100%;
  max-width: 45em;
  min-width: 37em;
}

.big-card .card-title {
  font-size: 1.15em;
  line-height: 1.2;
}

.big-card .card-info-title {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.big-card .card-promo {
  margin-right: 2em;
}

.big-card .promo-title {
  margin: 0.5em 0;
}

.big-card .opt .card-price-title {
  font-size: 1.15em;
}

.big-card .old-price,
.big-card .new-price {
  font-size: 1.5em;
}

.big-card .big-card-body {
  justify-content: flex-start;
  width: 100%;
}

.big-card .card-container-left {
  justify-content: flex-start;
  width: 100%;
  max-width: 45em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.big-card .carousel {
  margin-right: 1em;
}

.big-card .carousel-gallery {
  width: 150px;
}

.big-card .carousel-item {
  width: 150px;
}

.big-card .card-options-container {
  width: 100%;
  min-width: 25em;
  font-size: 0.85em;
  overflow: hidden;
}

.big-card .retail {
  justify-content: space-between;
  border-bottom: 1px solid rgb(232,232,232);
}

.big-card .retail div {
  width: 50%;
}

.big-card .card-container-right {
  width: 100%;
}

.big-card .card-select-info {
  text-align: right;
}

.big-card .card-select-info span {
  font-size: 1.15em;
}

.big-card .size-choice {
  font-size: 0.85em;
}

.big-card .card-price-info {
  margin-bottom: 1em;
}

.big-card .card-fade {
  position: absolute;
  height: 3em;
  width: 100%;
  width: calc(100% - 210px);
  width: -moz-calc(100% - 210px);
  width: -webkit-calc(100% - 210px);
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgb(255,255,255,0), rgb(255,255,255));
  z-index: 1;
}

.big-card.open .card-fade {
  display: none;
}

.big-card .toggle-btn {
  position: absolute;
  bottom: 0;
  right: 40%;
  width: 26px;
  height: 17px;
  background: url(../img/list_arrow_bottom.jpg) no-repeat center;
  cursor: pointer;
  z-index: 2;
}

.big-card.open .toggle-btn {
  background-image: url(../img/list_arrow_top.jpg);
}

/* Стили для полной карточки: */

#full-card-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.full-card {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70em;
  max-height: 80%;
  margin: 0 0 -1px -1px;
  padding: 2em 1.5em 1.5em 1.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(188,188,188);
  border-radius: 4px;
  box-shadow: 1px -2px 3px 0 rgba(100,100,100,0.5);
  overflow: scroll;
}

.full-card .close-btn {
  top: 0;
  right: 0.5em;
  font-size: 2em;
}

.full-card .close-btn:hover {
  color: rgb(241,90,41);
}

.full-card .card-imgbox-container {
  width: 300px;
  margin: 1em auto;
}

.full-card .card-imgbox {
  position: relative;
  margin-right: 1.5em;
  cursor: pointer;
}

.full-card .zoom-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.full-card .zoom-btn::before {
  content: url(../img/search.png);
}

.full-card .carousel-gallery {
  width: 300px;
}

.full-card .carousel-item {
  width: 100px;
  opacity: 0.6;
}

.full-card .carousel-item.img-active {
  opacity: 1;
}

.full-card .card-info {
  justify-content: flex-start;
}

.full-card .card-head {
  padding-bottom: 1em;
}

.full-card .card-title {
  font-size: 1.75em;
  line-height: 1.2;
}

.full-card .card-articul {
  padding: 0.5em 0;
  font-size: 0.85em;
}

.full-card .old-price,
.full-card .new-price {
  font-size: 1.5em;
}

.full-card .card-options {
  padding-bottom: 1.5em;
}

.full-card .card-option {
  min-width: 30em;
}

.full-card .card-selectInfo {
  font-size: 1.28em;
  padding-bottom: 0.5em;
}

#full-imgbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3em 0;
  background-color: rgb(30 ,30 ,30 ,0.9);
  z-index: 400;
}

.full-imgbox-content {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

#full-imgbox .close-btn {
  top: 0;
  right: 0.5em;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

#full-imgbox  .close-btn:hover {
  color: rgb(241,90,41);
}

#full-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
}

/* =====================================================================================================
 Стили для футера и его содержимого:
===================================================================================================== */

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  background-color: rgb(31,34,41);
  z-index: 100;
}

.footer-links, .footer-contacts, .copyright {
  padding: 0.7em 0;
}

.footer-links {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0;
}

.footer-links a {
  margin-right: 3em;
  padding: 0.7em 0;
  text-decoration: underline;
  text-align: center;
}

.footer-links a:last-child {
  margin-right: 0;
}

.footer-links a:hover {
  transition: 300ms;
  color: rgb(241,89,42);
}

.youtube::before {
  content: url(../../img/header_footer/ico_youtube.png);
  display: inline-block;
  vertical-align: middle;
}

.youtube:hover {
  transition: 300ms;
  transform: scale(1.1);
}

.footer-contacts {
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts > div {
  margin-right: 2em;
  padding: 0.35em 0;
  text-align: center;
}

.footer-contacts :last-child {
  margin-right: 0;
}

.decor {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  font-size: 0.85em;
  text-align: center;
  border-top: 1px solid rgb(139,140,140);
}
