@media only screen and  (min-width: 1824px) {
  body {
    font-size: 1.6rem;
  }
  .container {
    max-width: 1524px;
    margin: 0 auto;
  }
  .search {
    width: 30%;
  }
  .select-filters {
    width: 55%;
  }
  .select-oem {
    width: 20%;
  }
  .full-card {
    top: 50%;
  }
  .full-card .card-imgbox-container {
    width: 330px;
  }
  .full-card .carousel-gallery {
    width: 330px;
  }
  .full-card .carousel-item {
    width: 110px;
  }
}

@media only screen and (max-width: 1439px) {
  .container {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 1280px) {
  .big-card {
    height: 17em;
  }
  .big-card .card-head {
    max-width: 100%;
    min-width: 100%;
  }
  .big-card .card-info-title {
    justify-content: flex-end;
    min-width: 33em;
  }
  .big-card .big-card-body {
    flex-wrap: wrap;
  }
  .big-card .card-container-left {
    max-width: 100%;
    padding-right: 0;
  }
  .big-card .card-options-container {
    max-width: 45em;
  }
  .big-card .card-select-info {
    text-align: left;
  }
  .full-card .card-imgbox-container {
    width: 270px;
  }
  .full-card .carousel-gallery {
    width: 270px;
  }
  .full-card .carousel-item {
    width: 90px;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    margin: 0 3rem;
  }
  .header {
    font-size: 1.2rem;
  }
  .logo {
    width: 22%;
  }
  .header-contacts a {
    margin-left: 1em;
  }
  .header-select > .row {
    flex-wrap: wrap;
  }
  .select-filters {
    width: 100%;
  }
  .select-item {
    padding-bottom: 0;
  }
  .item-brands {
    width: 30%;
  }
  .item-year {
    width: 20%;
  }
  .item-model {
    width: 35%;
  }
  .select-oem {
    width: 30%;
  }
  .select-oem .search-btn {
    top: 20%;
  }
  .big-card .big-card-head {
    flex-wrap: wrap;
  }
  .big-card .card-info-title {
    justify-content: space-between;
  }
  .full-card {
    max-width: 90%;
  }
  .full-card .card-imgbox-container {
    width: 200px;
  }
  .full-card .carousel-gallery {
    width: 200px;
  }
  .full-card .carousel-item {
    width: 100px;
  }
  .full-card .card-option {
    min-width: 24em;
  }
  .footer  {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
  .hidden-xs {
		display: none;
  }
  .logo {
    width: 60%;
  }
  .profile-info {
    width: 40%;
  }
  .cart div, .account div {
    display: none;
  }
  .cart, .account {
    width: 2.5em;
    height: 2.5em;
    padding-left: 0;
  }
  .header-select > .row {
    flex-wrap: nowrap;
  }
  .select-filters {
    flex-direction: column;
    width: 50%;
    margin-right: 3.125em;
  }
  .select-item {
    width: 100%;
    margin-right: 0;
  }
  .item-model {
    padding-bottom: 0.35em;
  }
  .select-filters .close-btn {
    position: absolute;
    bottom: 5%;
    right: -1.5em;
  }
  .select-oem {
    width: 50%;
  }
  .select-oem .search-btn {
    top: 20%;
  }
  .content.list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .content.list .filters-container {
    width: 100%;
    margin-right: 0;
  }
  .content.list .filters {
    position: static;
    width: 100%;
    height: 100% !important;
    padding-right: 0;
  }
  .filters-container {
    min-width: 13em;
  }
  .filters {
    width: 13em;
  }
  .big-card .card-info-title {
    min-width: 0;
  }
  .big-card {
    height: 20em;
  }
  .big-card .card-container-left {
    flex-wrap: wrap;
  }
  .big-card .card-options-container {
    width: auto;
  }
  .big-card .card-fade {
    width: 100%;
  }
  .full-card {
    padding: 0.7em;
  }
  .full-card .card-container {
    flex-direction: column;
  }
  .full-card .card-imgbox {
    width: 100%;
  }
  .full-card .carousel {
    display: block;
  }
  .full-card .card-imgbox-container {
    display: none;
  }
  .full-card .carousel-gallery {
    width: 250px;
    margin: 0 auto;
  }
  .full-card .carousel-item {
    width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  .logo {
    width: 70%;
  }
  .profile-info {
    width: 30%;
  }
  .main-menu .container {
    flex-direction: column;
  }
  .search {
    width: 100%;
    align-self: flex-start;
  }
  .search .search-btn {
    top: 15%;
  }
  .ekipirovka {
    max-height: 14em;
  }
  .submenu-items {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .submenu-item {
    width: 140px;
    padding: 1rem 1rem;
  }
  .header-select > .row {
    flex-wrap: wrap;
  }
  .select-filters {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
  }
  .select-filters .select-item {
    width: 90%;
  }
  .select-filters .close-btn {
    position: static;
  }
  .select-oem {
    width: 90%;
    padding-top: 0;
  }
  .select-oem .search-btn {
    top: 10%;
  }
  .main-header {
    flex-wrap: wrap;
  }
  .main-nav {
    width: 100%;
    padding-bottom: 1em;
  }
  .content {
    flex-direction: column;
  }
  .filters-container {
    width: 100%;
    margin-right: 0;
  }
  .filters {
    position: static;
    width: 100%;
    height: 100% !important;
    padding-right: 0;
  }
  #gallery {
    justify-content: center;
  }
  .big-card {
    height: 22em;;
  }
  .big-card .carousel {
    width: 100%;
    margin-right: 0;
  }
  .big-card .carousel-container {
    width: 150px;
    margin: 0 auto;
    padding: 0;
  }
  .big-card .card-options-container {
    min-width: 18em;
    min-width: 100%;
  }
  .full-card .carousel-gallery {
    width: 200px;
  }
  .full-card .carousel-item {
    width: 200px;
  }
  .full-card .card-option {
    min-width: 0;
  }
  .footer-links a {
    margin-right: 2em;
  }
}
